openapi: 3.1.0
info:
  title: WordTrainer API
  version: 0.1.0
  description: >
    Backend2 API for the WordTrainer mobile app. Base path `/api/v1`, Sanctum bearer
    tokens, JSON, snake_case. This file is the contract — the Dart client is generated
    from it, so an endpoint not described here effectively does not exist.
    Errors are RFC 7807 `application/problem+json` with a stable machine `code`, except
    input validation which uses Laravel's 422 `{message, errors}` shape.

servers:
  - url: https://api.wordtrainer.app/api/v1
    description: Production (placeholder)
  - url: http://localhost:8001/api/v1
    description: Local (docker)

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Collections
  - name: Study
  - name: Generation

paths:
  /auth/google:
    post:
      tags: [Auth]
      summary: Sign in with a Google ID token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token]
              properties:
                id_token: { type: string }
                device_name: { type: string, maxLength: 100 }
                timezone: { type: string, description: "Device IANA timezone (e.g. Europe/Kyiv). On first sign-in it seeds profiles.timezone so calendar-day due rounding (F19) works before the first PUT /profile. Refreshed on later logins; validated as an IANA zone." }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user: { $ref: '#/components/schemas/User' }
        '422':
          $ref: '#/components/responses/Problem'

  /auth/me:
    get:
      tags: [Auth]
      summary: The authenticated user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    delete:
      tags: [Auth]
      summary: Delete the account and all of the user's data (App Store requirement)
      description: >
        Irreversible. Cascades across every module (collections, subscriptions, progress, reviews,
        triages, sessions, stats, generations), revokes all tokens, and nulls the user's authorship
        on global terms — the terms themselves stay. Runs in one transaction.
      responses:
        '204': { description: Account deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the current device token
      responses:
        '204': { description: Logged out }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /profile:
    put:
      tags: [Auth]
      summary: Update learning preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                native_language: { type: string, minLength: 2, maxLength: 5 }
                target_language: { type: string, minLength: 2, maxLength: 5 }
                cefr_level: { type: string, enum: [A1, A2, B1, B2, C1, C2] }
                daily_goal: { type: integer, minimum: 0, maximum: 100 }
                timezone: { type: string, description: "Device IANA timezone (e.g. Europe/Kyiv); the scheduler floors day-scale due dates to the start of the user's day in it (F19). Send it at login and whenever the device zone changes. Validated as an IANA zone." }
                onboarded: { type: boolean, description: "Send true on the onboarding-finish call to stamp profiles.onboarded_at once (never overwritten). Regular edits omit it." }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /generations:
    post:
      tags: [Generation]
      summary: Request an AI-generated collection (async)
      description: >
        Returns 202 with a pending request; poll GET /generations/{id} until succeeded|failed.
        Accepts an optional client-generated `id` (ULID) for offline idempotency: re-sending the same
        id returns the existing request with 200 (no new job, no quota spent) instead of 202.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                id: { type: string, minLength: 26, maxLength: 26, description: Client-generated ULID for idempotent retries. }
                prompt: { type: string, minLength: 2, maxLength: 500 }
                levels:
                  type: array
                  items: { type: string, enum: [A1, A2, B1, B2, C1, C2] }
                size: { type: integer, minimum: 8, maximum: 25 }
                source_lang: { type: string, minLength: 2, maxLength: 5 }
                target_lang:
                  type: string
                  minLength: 2
                  maxLength: 5
                  description: >
                    Optional. When omitted, the server uses the caller's default learning language
                    (profiles.target_language, as returned in /auth/me), then English if unset.
      responses:
        '202':
          description: Accepted — a new pending request was created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/GenerationRequest' }
        '200':
          description: The request already existed for this client id (idempotent repeat)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/GenerationRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: The client id is already in use by another user (code `generation_id_conflict`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429':
          description: Daily generation quota reached (code `generation_quota_exceeded`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /generations/{id}:
    get:
      tags: [Generation]
      summary: Poll a generation request (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/GenerationRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found (or not the owner) }

  /terms/{id}/regenerate-example:
    post:
      tags: [Generation]
      summary: Generate a fresh example for a term ("New example")
      description: >
        The LLM produces a new example (different from the current one) and its translation, which
        replace the term's stored example. Counts as one generation against the daily quota (429 when
        exhausted). Returns the new example so the client can update the card in place.
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      example: { type: string }
                      example_translation: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Unknown term }
        '429': { $ref: '#/components/responses/Problem' }

  /practice/dialogs:
    post:
      tags: [Practice]
      summary: Start a realtime conversation-practice dialog (premium)
      description: >
        Premium-only. Assembles a lesson from the collection (topic, CEFR level, the collection's
        source/target languages, up to 8 prioritised target words) and mints an ephemeral OpenAI
        realtime token. The app then streams audio directly to OpenAI over WebRTC — audio never
        transits this server. The session duration equals the token TTL (default 200s). This is
        practice: it never writes reviews or progress. Send a client-generated ULID (`client_id`)
        so a retry of a still-live dialog is idempotent (re-mints a token, no extra quota).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collection_id, client_id]
              properties:
                collection_id: { type: string, minLength: 26, maxLength: 26 }
                client_id: { type: string, minLength: 26, maxLength: 26, description: Client-generated ULID — the dialog id. }
      responses:
        '201':
          description: Dialog started
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StartedPracticeDialog' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Premium subscription required (code `subscription_required`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404': { description: Collection not found (or not the owner) }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429':
          description: >
            Daily practice-dialog limit reached (code `practice_dialogs_quota_exceeded`);
            `meta.resets_at` is the absolute reset instant, `meta.limit` the daily cap.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /practice/dialogs/{id}/transcripts:
    post:
      tags: [Practice]
      summary: Append transcript events and get target-word coverage
      description: >
        Append-only and idempotent by (role, ts): re-uploading a batch stores only new lines. Returns
        the up-to-date coverage of the dialog's target words (`used` is monotonic).
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [role, text, ts]
                    properties:
                      role: { type: string, enum: [user, assistant] }
                      text: { type: string, maxLength: 4000 }
                      ts: { type: integer, minimum: 0, description: Client line timestamp (ms). }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  target_words:
                    type: array
                    items: { $ref: '#/components/schemas/PracticeTargetWord' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Dialog not found (or not the owner) }
        '422': { $ref: '#/components/responses/ValidationError' }

  /practice/dialogs/{id}/finish:
    post:
      tags: [Practice]
      summary: Finish a dialog and get a native-language recap
      description: >
        Records the estimated realtime spend and returns a short recap written in the collection's
        source (native) language, plus how many target words were used. Idempotent.
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary: { type: string }
                  words_used: { type: integer }
                  words_total: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Dialog not found (or not the owner) }

  /practice/collections/{collectionId}/last-dialog:
    get:
      tags: [Practice]
      summary: The result of the collection's most recent concluded practice dialog
      description: >
        Returns the last finished OR expired dialog for the collection (an early exit is still a
        result). 404 when the user has never had one. Owner-scoped. `summary` is null for a dialog
        that only expired (no recap was generated); `finished_at` is null only for legacy rows.
      parameters:
        - { name: collectionId, in: path, required: true, schema: { type: string, minLength: 26, maxLength: 26 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  finished_at: { type: string, format: date-time, nullable: true }
                  words_used: { type: integer }
                  words_total: { type: integer }
                  summary: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No concluded dialog for this collection (or not the owner) }

  /store/collections:
    get:
      tags: [Store]
      summary: Browse the store — public + system collections for a language pair
      description: >
        Ordered by `topic` so the client can render sections, keyset-paginated on `(topic, id)`.
        Each row carries `is_premium` (badge + subscribe gate) and `is_subscribed`.
      parameters:
        - { name: source_lang, in: query, required: false, schema: { type: string, default: ru } }
        - { name: target_lang, in: query, required: false, schema: { type: string, default: en } }
        - { name: cursor, in: query, required: false, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 30 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/StoreCollection' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /store/collections/{id}/preview:
    get:
      tags: [Store]
      summary: Preview a store collection — first few terms + total
      description: >
        A free taster shown before subscribing: up to 5 terms (learned form + native translation)
        and the collection's total item count. Available to everyone, including free users looking at
        a premium collection — the premium gate is only on adding. A private/non-store id 404s.
      parameters:
        - { $ref: '#/components/parameters/UlidId' }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 20, default: 5 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/StoreCollectionPreview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not a store collection (private/custom or unknown) }

  /store/collections/{id}/subscribe:
    post:
      tags: [Store]
      summary: Add a store collection to the library (idempotent)
      description: >
        Idempotent — a repeat subscribe returns 200 and adds no duplicate. A premium collection
        requires a premium tier, otherwise 403 `subscription_required`. A private/non-store id 404s.
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      responses:
        '200':
          description: Subscribed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      collection_id: { type: string }
                      subscribed: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
    delete:
      tags: [Store]
      summary: Remove a store collection from the library (idempotent)
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      responses:
        '200':
          description: Unsubscribed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      collection_id: { type: string }
                      subscribed: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /collections:
    get:
      tags: [Collections]
      summary: List the user's collections (cursor-paginated, newest first)
      parameters:
        - { name: cursor, in: query, required: false, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 30 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CollectionSummary' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Collections]
      summary: Create a custom collection
      description: Accepts a client-generated `id` (ULID) for offline idempotency; re-sending the same id does not duplicate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                id: { type: string, minLength: 26, maxLength: 26 }
                title: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string, maxLength: 2000, nullable: true }
                source_lang: { type: string, minLength: 2, maxLength: 5 }
                target_lang: { type: string, minLength: 2, maxLength: 5 }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /collections/{id}:
    get:
      tags: [Collections]
      summary: Show a collection with its items (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found (or not the owner) }
    patch:
      tags: [Collections]
      summary: Update title/description (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string, maxLength: 2000, nullable: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: Not found (code `collection_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Collections]
      summary: Soft-delete a collection (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '204': { description: Deleted }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: Not found (code `collection_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /collections/{id}/items:
    post:
      tags: [Collections]
      summary: Add a word to a collection (owner only)
      description: >
        Found-or-creates the term in Vocabulary, then attaches it. Idempotent — adding the same word
        twice is a no-op. Returns the refreshed collection. `translation` is optional: when omitted,
        the term is created bare and enriched asynchronously (translation, transcription, example and
        a stock photo are filled in from the LLM + Pexels), so images/translation appear via a later
        `/sync`.
      parameters:
        - $ref: '#/components/parameters/UlidId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 200 }
                translation: { type: string, maxLength: 500, nullable: true, description: Optional; omit to have it auto-enriched. }
                type: { type: string, enum: [word, phrase, idiom, phrasal_verb] }
      responses:
        '201':
          description: Word added
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /collections/{id}/items/{termId}:
    delete:
      tags: [Collections]
      summary: Remove a term from a collection (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
        - { name: termId, in: path, required: true, schema: { type: string, minLength: 26, maxLength: 26 } }
      responses:
        '204': { description: Removed }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /study/sessions:
    post:
      tags: [Study]
      summary: Build a self-contained study session (due then new cards, one card per exercise)
      description: >-
        Assembles a ready-to-play session: due cards first (state <> new, by due date), then new
        cards up to the day's remaining new-term quota (one global quota — a scoped session does
        not multiply it). Each card carries its exercise mode (chosen from the term's reps: reps 0 →
        multiple_choice, reps ≥ 1 → word_bank for multi-word / typing for single-word; review rotates,
        known → typing), the prompt (user's language), the answer (target language) and mode-specific extras — shuffled
        options for multiple_choice, shuffled chips for word_bank — so the client runs it offline.
        The session's composition is fixed server-side under the returned session_id. A practice
        session (practice=true) instead draws EVERY term in scope — a collection, or all the user's
        collections — ignoring due_at, state and the daily quota (device-batch F17): free training on
        demand. It introduces nothing and never schedules; its answers are recorded with is_practice
        but do not move progress. The exercise mode still follows the reps ladder (never-studied →
        multiple_choice, produced-before → word_bank/typing).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                collection_id: { type: string, minLength: 26, maxLength: 26, nullable: true, description: Scope to one owned collection }
                limit: { type: integer, minimum: 1, maximum: 100, default: 20 }
                practice: { type: boolean, default: false }
                session_id: { type: string, minLength: 26, maxLength: 26, nullable: true, description: Client-generated ULID (idempotent) }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      session_id: { type: string }
                      cards:
                        type: array
                        items: { $ref: '#/components/schemas/SessionCard' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /study/progress:
    get:
      tags: [Study]
      summary: Per-collection learning progress (derived, not stored)
      description: >-
        For each of the user's own collections: total, new, due, and mastered counts, with
        mastered broken into confirmed (proven by exercises) vs familiar (marked known) and the
        rest in progress. Computed by folding the (user, term) progress over collection membership.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CollectionProgress' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /reviews/batch:
    post:
      tags: [Study]
      summary: Upload a batch of raw answers (server-graded, idempotent by review id)
      description: >
        Offline-friendly: up to 200 answers with client-generated ULIDs. The client sends the
        RAW answer (response text, mode, latency, hint) — the SERVER grades it, so the grading
        rule lives in one place. Re-sending an id is a duplicate, not an error; an answer for an
        unknown term is skipped. A practice answer (is_practice) is recorded but never schedules.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reviews]
              properties:
                reviews:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [id, term_id, exercise_mode, response, answered_at, client_seq]
                    properties:
                      id: { type: string, minLength: 26, maxLength: 26 }
                      term_id: { type: string, minLength: 26, maxLength: 26 }
                      exercise_mode: { type: string, enum: [multiple_choice, word_bank, typing, listening, cloze] }
                      response: { type: string, description: The user's raw answer text }
                      answered_at:
                        type: string
                        format: date-time
                        description: >-
                          Reference-only (device clock). NOT used to order the fold — see client_seq.
                      client_seq:
                        type: integer
                        minimum: 0
                        description: >-
                          Per-user monotonic sequence assigned by the client at answer time,
                          surviving queue clears. The server folds answers into progress in
                          client_seq order (not answered_at, a device clock that can lag). Must
                          be strictly increasing per user across the whole history; initialise
                          from GET /auth/me `max_review_seq` after a reinstall.
                      used_hint: { type: boolean, default: false }
                      is_practice: { type: boolean, default: false }
                      latency_ms:
                        type: integer
                        minimum: 0
                        nullable: true
                        description: >-
                          Client-measured, from the card's paint to the answer. Optional: null
                          means unmeasured (treated neutrally). Do NOT send 0 for an unmeasured
                          answer — send null.
                      session_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
      responses:
        '200':
          description: Applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accepted: { type: integer }
                      duplicates: { type: integer }
                      unknown: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /stats:
    get:
      tags: [Study]
      summary: Training dashboard stats
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Stats' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /triage/queue:
    get:
      tags: [Study]
      summary: The first-pass swipe queue for one collection (not-yet-triaged, not-yet-studied terms)
      description: >-
        A collection's terms that have neither a progress row nor a triage record, capped at
        limit. Content is included so the whole batch can be swiped offline. Excluding
        already-triaged terms is what stops a term from being asked twice, even when an
        "unknown" swipe leaves it new. The response is an envelope: `cards` plus `remaining`,
        the count of eligible terms beyond this page.
      parameters:
        - name: collection_id
          in: query
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 40, default: 40 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [cards, remaining]
                    properties:
                      cards:
                        type: array
                        items: { $ref: '#/components/schemas/TriageCard' }
                      remaining:
                        type: integer
                        minimum: 0
                        description: >-
                          Eligible (not-yet-triaged, not-yet-studied) terms left AFTER this page —
                          i.e. what subsequent GETs will still serve, NOT the collection's total
                          new-term count. Lets the client show honest progress ("N more after
                          sync") without diverging from the real queue. 0 means this is the last page.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /triage/batch:
    post:
      tags: [Study]
      summary: Upload a batch of triage swipes (idempotent by triage id)
      description: >-
        A swipe is a self-assessment, kept out of the review log. Projects onto (user, term)
        progress: known → a known row, unsure → learning (due now), unknown → stays new (and,
        for a term currently known, drops the row to return it to learning). Re-sending an id
        is a duplicate, not an error; a swipe for an unknown term is skipped.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [triages]
              properties:
                triages:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [id, term_id, verdict, decided_at, client_seq]
                    properties:
                      id: { type: string, minLength: 26, maxLength: 26 }
                      term_id: { type: string, minLength: 26, maxLength: 26 }
                      verdict: { type: string, enum: [known, unknown, unsure] }
                      decided_at:
                        type: string
                        format: date-time
                        description: >-
                          Reference-only (device clock). NOT used to decide the current verdict —
                          see client_seq.
                      client_seq:
                        type: integer
                        minimum: 0
                        description: >-
                          Per-user monotonic sequence assigned by the client at swipe time,
                          surviving queue clears. The current verdict for a (user, term) is the
                          one with the greatest client_seq (not the latest decided_at, a device
                          clock that can lag and roll back a genuinely-later verdict). Must be
                          strictly increasing per user across the whole history; initialise from
                          GET /auth/me `max_triage_seq` after a reinstall.
                      collection_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
                      latency_ms:
                        type: integer
                        minimum: 0
                        nullable: true
                        description: >-
                          Client-measured, from the card's paint to the FIRST event (flip or swipe,
                          whichever comes first). Optional: null means unmeasured (treated neutrally
                          — never risky). Do NOT send 0 for an unmeasured swipe — send null.
                          (Risk-by-latency applies to phrases only.)
                      revealed:
                        type: boolean
                        nullable: true
                        description: >-
                          Whether the learner flipped the card (revealing the translation/example)
                          before deciding. A `known` verdict reached after peeking is a weaker
                          signal — recognition of a hint, not recall — so it drives an early
                          verification check, on par with a too-fast swipe. Null/false = no peek
                          (neutral); applies to words and phrases alike.
      responses:
        '200':
          description: Applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accepted: { type: integer }
                      duplicates: { type: integer }
                      unknown: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /sync/cursor:
    get:
      tags: [Study]
      summary: The client_seq high-water mark per log
      description: >-
        Greatest client_seq the server holds for this user, per append-only log. Clients seed
        their monotonic client_seq counter from here on login, so a reinstall (counter reset) or
        a second device does not emit sequences that would lose to already-stored rows. Values
        are 0 when a log is empty. (Delta sync, GET /sync?since=, will grow alongside this.)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      max_triage_seq: { type: integer, minimum: 0 }
                      max_review_seq: { type: integer, minimum: 0 }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /sync:
    get:
      tags: [Study]
      summary: Delta sync — changes to mirror into the client's local database
      description: >-
        The offline feed. The client mirrors collections, items, terms (with content) and progress
        into a local DB and reads every screen from there; this endpoint only refreshes it.


        Send `since` = the `server_time` from your last completed sync (NOT the device clock — it
        drifts). Omit `since` for the first, full snapshot after install. Page with `next_cursor`
        (opaque) until `has_more` is false, then store the new `server_time` as your next `since`.


        `since` is INCLUSIVE: timestamps are second-precision, so the boundary second is re-sent
        to guarantee no change is ever missed. Apply changes idempotently by id (last-write-wins by
        `updated_at`) — re-applying a row you already have is a no-op. Deletions arrive as
        `op: "delete"` tombstones (collection soft-delete, item soft-delete) so ghosts don't linger;
        a full snapshot (no `since`) omits deletes. Only terms in the user's own collections are
        synced — never the global dictionary.
      parameters:
        - name: since
          in: query
          required: false
          schema: { type: string, format: date-time }
          description: A prior response's server_time. Inclusive. Omit for a full snapshot.
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "Opaque, from a previous page's next_cursor." }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 1000, default: 500 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [server_time, has_more, changes]
                    properties:
                      server_time: { type: string, format: date-time, description: Store as the next `since` once has_more is false. }
                      next_cursor: { type: string, nullable: true, description: Pass back verbatim while has_more is true. }
                      has_more: { type: boolean }
                      changes:
                        type: object
                        properties:
                          collections:
                            type: array
                            items:
                              type: object
                              description: 'op=upsert carries the fields; op=delete carries id + updated_at only.'
                              properties:
                                id: { type: string }
                                op: { type: string, enum: [upsert, delete] }
                                updated_at: { type: string, format: date-time }
                                title: { type: string, nullable: true }
                                description: { type: string, nullable: true }
                                topic: { type: string, nullable: true }
                                source_lang: { type: string, nullable: true }
                                target_lang: { type: string, nullable: true }
                                items_count: { type: integer }
                                source: { type: string, nullable: true, enum: [curated, ai, user], description: 'origin; drives the client badge' }
                                type: { type: string, nullable: true, enum: [system, shared, custom], description: 'my / store / generated distinction' }
                                image_url: { type: string, nullable: true, description: 'Pexels cover; null = none, show a placeholder' }
                                image_author: { type: string, nullable: true, description: 'photographer credit (Pexels licence)' }
                                image_author_url: { type: string, nullable: true, description: 'link to the photographer' }
                          collection_items:
                            type: array
                            items:
                              type: object
                              properties:
                                collection_id: { type: string }
                                term_id: { type: string }
                                op: { type: string, enum: [upsert, delete] }
                                updated_at: { type: string, format: date-time }
                                position: { type: integer }
                                note: { type: string, nullable: true }
                          terms:
                            type: array
                            items:
                              type: object
                              description: Content for the offline card; audio is optional (system TTS works offline).
                              properties:
                                id: { type: string }
                                op: { type: string, enum: [upsert] }
                                updated_at: { type: string, format: date-time }
                                text: { type: string, nullable: true }
                                type: { type: string, enum: [word, phrase, idiom, phrasal_verb], nullable: true }
                                transcription: { type: string, nullable: true }
                                translation: { type: string, nullable: true }
                                example: { type: string, nullable: true }
                                example_translation: { type: string, nullable: true }
                                image_url: { type: string, nullable: true, description: 'Pexels photo; null = none, show a placeholder' }
                                image_author: { type: string, nullable: true, description: 'photographer credit (Pexels licence)' }
                                image_author_url: { type: string, nullable: true, description: 'link to the photographer' }
                          progress:
                            type: array
                            items:
                              type: object
                              properties:
                                term_id: { type: string }
                                op: { type: string, enum: [upsert] }
                                updated_at: { type: string, format: date-time }
                                state: { type: string, enum: [new, learning, review, relearning, known] }
                                ease_factor: { type: number }
                                interval_days: { type: integer }
                                due_at: { type: string, format: date-time, nullable: true }
                                reps: { type: integer }
                                lapses: { type: integer }
                                last_reviewed_at: { type: string, format: date-time, nullable: true }
                          triages:
                            type: array
                            description: >-
                              Governing triage verdict per term (greatest client_seq). Append-only,
                              so always op=upsert (no tombstone). The client upserts these into its
                              local triage marker so a sign-out wipe + re-login can't resurrect an
                              `unknown` swipe (which writes no progress row) in the deck.
                            items:
                              type: object
                              properties:
                                term_id: { type: string }
                                op: { type: string, enum: [upsert] }
                                updated_at: { type: string, format: date-time, description: 'server receipt time of the governing swipe' }
                                verdict: { type: string, enum: [known, unknown, unsure] }
                                client_seq: { type: integer }
                                collection_id: { type: string, nullable: true, description: 'where the swipe came from (informational)' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    UlidId:
      name: id
      in: path
      required: true
      schema: { type: string, minLength: 26, maxLength: 26 }

  responses:
    Unauthorized:
      description: Missing or invalid bearer token
    Problem:
      description: RFC 7807 problem
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    ValidationError:
      description: Input validation failed (Laravel shape)
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
              errors:
                type: object
                additionalProperties:
                  type: array
                  items: { type: string }

  schemas:
    Problem:
      type: object
      description: RFC 7807 with a stable machine `code`.
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        code: { type: string }
        detail: { type: string }
        meta: { type: object, additionalProperties: true }
      required: [title, status, code]

    PageMeta:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }
        has_more: { type: boolean }
      required: [has_more]

    PracticeTargetWord:
      type: object
      description: A word the learner should use during the dialog, and whether they have yet.
      properties:
        term_id: { type: string }
        text: { type: string }
        used: { type: boolean, description: "Monotonic — once used, stays used." }
      required: [term_id, text, used]

    StartedPracticeDialog:
      type: object
      description: The started dialog — the provider, ephemeral token, endpoint, model, and target words.
      properties:
        dialog_id: { type: string }
        provider: { type: string, enum: [openai, gemini], description: Which realtime provider to connect to. }
        endpoint: { type: string, description: "Connection endpoint (OpenAI: realtime base URL; Gemini: v1alpha BidiGenerateContentConstrained WS URL — append ?access_token=<realtime_token>)." }
        realtime_token: { type: string, description: "Ephemeral credential for the session (OpenAI client secret / Gemini auth token). Short-lived." }
        expires_at: { type: string, format: date-time, description: Absolute instant the token expires. }
        model: { type: string, description: Realtime model the session is bound to. }
        target_words:
          type: array
          items: { $ref: '#/components/schemas/PracticeTargetWord' }
        duration_seconds: { type: integer, description: Session length — the token TTL. }
        session_setup:
          type: object
          nullable: true
          additionalProperties: true
          description: >
            Gemini bare-token path: the pre-rendered BidiGenerateContentSetup (system instruction,
            model, transcription, VAD) the client applies verbatim as its first WebSocket message —
            it renders nothing itself. Null when the session is baked into the token (OpenAI).
      required: [dialog_id, provider, endpoint, realtime_token, expires_at, model, target_words, duration_seconds]

    Profile:
      type: object
      properties:
        native_language: { type: string }
        target_language: { type: string }
        cefr_level: { type: string }
        daily_goal: { type: integer }
        tier: { type: string, enum: [free, premium], description: Subscription tier; drives the generation quota and premium-store access. }
        timezone: { type: string, description: "The user's IANA timezone; UTC until the client sends one. Drives calendar-day due rounding (F19)." }
        onboarded_at: { type: string, format: date-time, nullable: true, description: "Instant first-run onboarding finished, or null if never. The client's onboarding gate keys on this (server truth, survives reinstall)." }

    StoreCollection:
      type: object
      description: A subscribable store collection (public or system) for a language pair.
      properties:
        id: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        topic: { type: string, nullable: true, description: Section key the client groups by. }
        source_lang: { type: string }
        target_lang: { type: string }
        is_premium: { type: boolean, description: Subscribing requires a premium tier; otherwise 403 subscription_required. }
        is_subscribed: { type: boolean, description: Whether the caller already has it in their library. }
        level: { type: string, nullable: true, description: 'CEFR range for the card, e.g. "A2–B1" or "B2" (min–max of the terms'' levels); null when none carry a level.' }
        items_count: { type: integer }
        image_url: { type: string, nullable: true }
        image_author: { type: string, nullable: true }
        image_author_url: { type: string, nullable: true }

    StoreCollectionPreview:
      type: object
      description: A free taster of a store collection — its first terms and the total item count.
      properties:
        collection_id: { type: string }
        total: { type: integer, description: Total number of terms in the collection. }
        terms:
          type: array
          description: Up to `limit` terms (default 5), in collection order.
          items:
            type: object
            properties:
              text: { type: string, description: The learned-language term. }
              translation: { type: string, nullable: true, description: Native-language translation (collection source_lang). }
              type: { type: string, description: word | phrase | idiom | phrasal_verb }
              cefr: { type: string, nullable: true, description: CEFR level, e.g. A2. }

    User:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string, nullable: true }
        avatar: { type: string, nullable: true }
        profile:
          oneOf:
            - { $ref: '#/components/schemas/Profile' }
            - { type: 'null' }
        generation:
          description: >
            The caller's generation allowance, so the client can grey the create button before
            submit instead of failing on a 429. `resets_at` is an absolute instant (next UTC-day
            boundary); render it in device-local time.
          type: object
          properties:
            limit: { type: integer }
            used: { type: integer }
            remaining: { type: integer }
            resets_at: { type: string, format: date-time }

    GenerationRequest:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [pending, running, succeeded, failed] }
        prompt: { type: string }
        requested: { type: integer, description: Items the user asked for }
        delivered: { type: integer, nullable: true, description: Items actually produced; may be fewer than requested; null until succeeded }
        collection_id: { type: string, nullable: true }
        error: { type: string, nullable: true }
        model: { type: string, nullable: true }
        tokens_in: { type: integer, nullable: true }
        tokens_out: { type: integer, nullable: true }
        cost_usd: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }

    CollectionSummary:
      type: object
      properties:
        id: { type: string }
        type: { type: string, enum: [system, shared, custom] }
        source: { type: string, enum: [curated, ai, user] }
        title: { type: string }
        description: { type: string, nullable: true }
        source_lang: { type: string }
        target_lang: { type: string }
        visibility: { type: string, enum: [private, link, public] }
        items_count: { type: integer }
        created_at: { type: string, format: date-time }

    CollectionItem:
      type: object
      description: A collection membership with its term content hydrated from Vocabulary.
      properties:
        term_id: { type: string }
        position: { type: integer }
        note: { type: string, nullable: true }
        text: { type: string, nullable: true }
        type: { type: string, enum: [word, phrase, idiom, phrasal_verb], nullable: true }
        transcription: { type: string, nullable: true }
        translation: { type: string, nullable: true }
        example: { type: string, nullable: true }
        example_translation: { type: string, nullable: true }

    Collection:
      allOf:
        - $ref: '#/components/schemas/CollectionSummary'
        - type: object
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/CollectionItem' }

    CollectionProgress:
      type: object
      description: >-
        Derived from (user, term) progress. mastered_count is the single "mastered" figure;
        confirmed + familiar + in_progress + new_count sum to terms_total.
      properties:
        collection_id: { type: string }
        terms_total: { type: integer }
        new_count: { type: integer, description: "Not started (no progress, or returned to new)" }
        due_count: { type: integer }
        mastered_count: { type: integer, description: confirmed + familiar }
        confirmed_count: { type: integer, description: "Proven by exercises (review, interval >= 21)" }
        familiar_count: { type: integer, description: Marked known (self-assessed) }
        in_progress_count: { type: integer, description: Started but not yet mastered }

    SessionCard:
      type: object
      properties:
        term_id: { type: string }
        exercise_mode: { type: string, enum: [multiple_choice, word_bank, typing, listening, cloze] }
        type: { type: string, enum: [word, phrase, idiom, phrasal_verb], nullable: true }
        prompt: { type: string, nullable: true, description: "The cue, in the user's language" }
        answer: { type: string, description: The correct target-language answer }
        transcription: { type: string, nullable: true }
        example: { type: string, nullable: true }
        example_translation: { type: string, nullable: true }
        options:
          type: array
          nullable: true
          description: multiple_choice — the answer plus distractors, shuffled
          items: { type: string }
        chips:
          type: array
          nullable: true
          description: word_bank — the answer's tokens (words, or letters for a single word), shuffled
          items: { type: string }

    TriageCard:
      type: object
      description: >-
        A minimal triage card. The triage screen only renders text + translation (and, for
        phrases, an example). `transcription` and `example`/`example_translation` are optional
        and may be absent; they are carried for FUTURE exercise modes — `transcription` as a
        typing hint, examples for cloze — not used by triage itself. Kept deliberately rather
        than trimmed, so those modes don't have to re-add them later.
      required: [term_id]
      properties:
        term_id: { type: string }
        text: { type: string, nullable: true }
        type: { type: string, enum: [word, phrase, idiom, phrasal_verb], nullable: true }
        transcription:
          type: string
          nullable: true
          description: IPA. Optional; unused by triage — reserved as a future `typing` hint.
        translation: { type: string, nullable: true }
        example:
          type: string
          nullable: true
          description: Optional; triage shows it only for phrases — reserved for `cloze` (phase 2).
        example_translation:
          type: string
          nullable: true
          description: Optional; pairs with `example`. Reserved for future exercise modes.

    Stats:
      type: object
      properties:
        total_terms: { type: integer }
        learned: { type: integer }
        mastered: { type: integer }
        due_today: { type: integer }
        reviews_today: { type: integer }
        streak_days: { type: integer }
