openapi: 3.1.0
info:
  title: WordTrainer API
  version: 0.1.0
  description: >
    Backend2 API for the WordTrainer mobile app. Base path `/api/v1`, Sanctum bearer
    tokens, JSON, snake_case. This file is the contract — the Dart client is generated
    from it, so an endpoint not described here effectively does not exist.
    Errors are RFC 7807 `application/problem+json` with a stable machine `code`, except
    input validation which uses Laravel's 422 `{message, errors}` shape.

servers:
  - url: https://api.wordtrainer.app/api/v1
    description: Production (placeholder)
  - url: http://localhost:8001/api/v1
    description: Local (docker)

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Collections
  - name: Study
  - name: Generation
  - name: Search
  - name: Plans

paths:
  /auth/google:
    post:
      tags: [Auth]
      summary: Sign in with a Google ID token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token]
              properties:
                id_token: { type: string }
                device_name: { type: string, maxLength: 100 }
                timezone: { type: string, description: "Device IANA timezone (e.g. Europe/Kyiv). On first sign-in it seeds profiles.timezone so calendar-day due rounding (F19) works before the first PUT /profile. Refreshed on later logins; validated as an IANA zone." }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user: { $ref: '#/components/schemas/User' }
        '422':
          $ref: '#/components/responses/Problem'

  /auth/dev:
    post:
      tags: [Auth]
      summary: "QA sign-in by email (NON-PRODUCTION ONLY — not part of the shipped surface)"
      description: >
        Password-less sign-in for QA runs, documented here so the contract is complete rather than
        because a client should call it: only the debug build's «Dev login» button does.
        The route is not registered at all unless the environment is non-production AND
        DEV_LOGIN_ENABLED is set (App\Modules\Identity\Domain\Service\DevLoginGate), and the
        handler asks the same question again per request. It can only enter or create an account
        marked `users.is_qa`; an address belonging to a real account is refused with 403
        `not_a_qa_account`. A shut gate answers 404, not 403 — a closed door does not admit it is
        a door.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email, description: "The QA address; created as an is_qa account if it does not exist." }
                device_name: { type: string, maxLength: 100 }
                timezone: { type: string, description: "Device IANA timezone, seeded on the profile exactly as at Google sign-in." }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user: { $ref: '#/components/schemas/User' }
        '403':
          description: The address belongs to an account that is not marked is_qa
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: The gate is shut (production, or DEV_LOGIN_ENABLED off)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          $ref: '#/components/responses/Problem'

  /auth/me:
    get:
      tags: [Auth]
      summary: The authenticated user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    delete:
      tags: [Auth]
      summary: Delete the account and all of the user's data (App Store requirement)
      description: >
        Irreversible. Cascades across every module (collections, subscriptions, progress, reviews,
        triages, sessions, stats, generations), revokes all tokens, and nulls the user's authorship
        on global terms — the terms themselves stay. Runs in one transaction.
      responses:
        '204': { description: Account deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the current device token
      responses:
        '204': { description: Logged out }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /profile:
    put:
      tags: [Auth]
      summary: Update learning preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                native_language: { type: string, minLength: 2, maxLength: 5 }
                target_language: { type: string, minLength: 2, maxLength: 5 }
                cefr_level: { type: string, enum: [A1, A2, B1, B2, C1, C2] }
                daily_goal: { type: integer, minimum: 0, maximum: 100 }
                timezone: { type: string, description: "Device IANA timezone (e.g. Europe/Kyiv); the scheduler floors day-scale due dates to the start of the user's day in it (F19). Send it at login and whenever the device zone changes. Validated as an IANA zone." }
                onboarded: { type: boolean, description: "Send true on the onboarding-finish call to stamp profiles.onboarded_at once (never overwritten). Regular edits omit it." }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /generations:
    post:
      tags: [Generation]
      summary: Request an AI-generated collection (async)
      description: >
        Returns 202 with a pending request; poll GET /generations/{id} until succeeded|failed.
        Accepts an optional client-generated `id` (ULID) for offline idempotency: re-sending the same
        id returns the existing request with 200 (no new job, no quota spent) instead of 202.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                id: { type: string, minLength: 26, maxLength: 26, description: Client-generated ULID for idempotent retries. }
                prompt: { type: string, minLength: 2, maxLength: 500 }
                levels:
                  type: array
                  items: { type: string, enum: [A1, A2, B1, B2, C1, C2] }
                size: { type: integer, minimum: 8, maximum: 25 }
                source_lang: { type: string, minLength: 2, maxLength: 5 }
                target_lang:
                  type: string
                  minLength: 2
                  maxLength: 5
                  description: >
                    Optional. When omitted, the server uses the caller's default learning language
                    (profiles.target_language, as returned in /auth/me), then English if unset.
      responses:
        '202':
          description: Accepted — a new pending request was created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/GenerationRequest' }
        '200':
          description: The request already existed for this client id (idempotent repeat)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/GenerationRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: The client id is already in use by another user (code `generation_id_conflict`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429':
          description: Daily generation quota reached (code `generation_quota_exceeded`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /generations/{id}:
    get:
      tags: [Generation]
      summary: Poll a generation request (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/GenerationRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found (or not the owner) }

  /terms/{id}/regenerate-example:
    post:
      tags: [Generation]
      summary: Generate a fresh example for a term ("New example")
      description: >
        The LLM produces a new example (different from the current one) and its translation, which
        replace the term's stored example. Counts as one generation against the daily quota (429 when
        exhausted). Returns the new example so the client can update the card in place.
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      example: { type: string }
                      example_translation: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Unknown term }
        '429': { $ref: '#/components/responses/Problem' }

  /practice/dialogs:
    post:
      tags: [Practice]
      summary: Start a realtime conversation-practice dialog (premium)
      description: >
        Premium-only. Assembles a lesson from the collection (topic, CEFR level, the collection's
        source/target languages, up to 8 prioritised target words) and mints an ephemeral OpenAI
        realtime token. The app then streams audio directly to OpenAI over WebRTC — audio never
        transits this server. The session duration equals the token TTL (default 200s). This is
        practice: it never writes reviews or progress. Send a client-generated ULID (`client_id`)
        so a retry of a still-live dialog is idempotent (re-mints a token, no extra quota).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collection_id, client_id]
              properties:
                collection_id: { type: string, minLength: 26, maxLength: 26 }
                client_id: { type: string, minLength: 26, maxLength: 26, description: Client-generated ULID — the dialog id. }
      responses:
        '201':
          description: Dialog started
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StartedPracticeDialog' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Premium subscription required (code `subscription_required`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404': { description: Collection not found (or not the owner) }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429':
          description: >
            Daily practice-dialog limit reached (code `practice_dialogs_quota_exceeded`);
            `meta.resets_at` is the absolute reset instant, `meta.limit` the daily cap.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /practice/dialogs/{id}/transcripts:
    post:
      tags: [Practice]
      summary: Append transcript events and get target-word coverage
      description: >
        Append-only and idempotent by (role, ts): re-uploading a batch stores only new lines. Returns
        the up-to-date coverage of the dialog's target words (`used` is monotonic).
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [role, text, ts]
                    properties:
                      role: { type: string, enum: [user, assistant] }
                      text: { type: string, maxLength: 4000 }
                      ts: { type: integer, minimum: 0, description: Client line timestamp (ms). }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  target_words:
                    type: array
                    items: { $ref: '#/components/schemas/PracticeTargetWord' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Dialog not found (or not the owner) }
        '422': { $ref: '#/components/responses/ValidationError' }

  /practice/dialogs/{id}/finish:
    post:
      tags: [Practice]
      summary: Finish a dialog and get a native-language recap
      description: >
        Records the estimated realtime spend and returns a short recap written in the collection's
        source (native) language, plus how many target words were used. Idempotent.
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary: { type: string }
                  words_used: { type: integer }
                  words_total: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Dialog not found (or not the owner) }

  /practice/collections/{collectionId}/last-dialog:
    get:
      tags: [Practice]
      summary: The result of the collection's most recent concluded practice dialog
      description: >
        Returns the last finished OR expired dialog for the collection (an early exit is still a
        result). 404 when the user has never had one. Owner-scoped. `summary` is null for a dialog
        that only expired (no recap was generated); `finished_at` is null only for legacy rows.
      parameters:
        - { name: collectionId, in: path, required: true, schema: { type: string, minLength: 26, maxLength: 26 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  finished_at: { type: string, format: date-time, nullable: true }
                  words_used: { type: integer }
                  words_total: { type: integer }
                  summary: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No concluded dialog for this collection (or not the owner) }

  /store/collections:
    get:
      tags: [Store]
      summary: Browse the store — public + system collections for a language pair
      description: >
        Ordered by `topic` so the client can render sections, keyset-paginated on `(topic, id)`.
        Each row carries `is_premium` (badge + subscribe gate) and `is_subscribed`.
      parameters:
        - { name: source_lang, in: query, required: false, schema: { type: string, default: ru } }
        - { name: target_lang, in: query, required: false, schema: { type: string, default: en } }
        - { name: cursor, in: query, required: false, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 30 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/StoreCollection' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /store/collections/{id}/preview:
    get:
      tags: [Store]
      summary: Preview a store collection — first few terms + total
      description: >
        A free taster shown before subscribing: up to 5 terms (learned form + native translation)
        and the collection's total item count. Available to everyone, including free users looking at
        a premium collection — the premium gate is only on adding. A private/non-store id 404s.
      parameters:
        - { $ref: '#/components/parameters/UlidId' }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 20, default: 5 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/StoreCollectionPreview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not a store collection (private/custom or unknown) }

  /store/collections/{id}/subscribe:
    post:
      tags: [Store]
      summary: Add a store collection to the library (idempotent)
      description: >
        Idempotent — a repeat subscribe returns 200 and adds no duplicate. A premium collection
        requires a premium tier, otherwise 403 `subscription_required`. A private/non-store id 404s.
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      responses:
        '200':
          description: Subscribed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      collection_id: { type: string }
                      subscribed: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
    delete:
      tags: [Store]
      summary: Remove a store collection from the library (idempotent)
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      responses:
        '200':
          description: Unsubscribed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      collection_id: { type: string }
                      subscribed: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /search:
    get:
      tags: [Search]
      summary: Search the terms that already exist (free, instant)
      description: >
        Exact and prefix matches over the term's own text and over its translations in the learner's
        language, ranked exact-term → exact-translation → prefix-term → prefix-translation. Costs
        nothing and touches no model, so it is safe to call on a debounced keystroke. Every hit says
        which of the CALLER'S OWN folders already hold it (`folders`), which is what lets the save
        button tell the truth. Deliberately not fuzzy: the question is «do we already have the word
        you typed», and a plausible near-miss would stop the learner generating the word they meant.

        `source`/`target` are the search pill, and they select the PAIR rather than a direction:
        «Похожие» are the same rows whichever way the learner is asking — `case` is an English term
        with a Russian translation either way — so both are searched and the translations shown are
        the pair's. Omit both for the learner's profile pair; an unserved pair is a 422.

        `translation` and `example_translation` are STRICTLY in the pair's support language: a term
        with no translation in it comes back with `null` there rather than with a gloss in a third
        language, and `POST /search/lookup` is what fills the gap (DECISIONS п. 146).
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: source, in: query, required: false, schema: { type: string, minLength: 2, maxLength: 2 } }
        - { name: target, in: query, required: false, schema: { type: string, minLength: 2, maxLength: 2 } }
        - name: taught_side
          in: query
          required: false
          schema: { type: string, enum: [source, target] }
          description: >-
            WHICH HALF of the pair is the language being STUDIED, said by the client instead of
            guessed by the server. A request carries a direction, not a pair of roles: `de → en` is
            either German with English support or English with German support, and the query string
            alone cannot tell them apart. Omit it and the server breaks the tie as before — the
            learner's profile, then the direction's `source` (DECISIONS п. 147). An unparseable
            value reads as «not given» on these two debounced GETs, because a typo must not put an
            error on a screen somebody is still typing into.
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 50, default: 20 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SearchHit' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /search/instant:
    get:
      tags: [Search]
      summary: The grey hint line — one word, one translation, as fast as it can be had
      description: >
        A first, cheap guess at what a word means, shown while the learner is still typing. It does
        NOT replace `POST /search/lookup`: that one writes the card (translation, description,
        example, level, image query) with a model that knows the content rules; this one is a
        garnish and never becomes card content.

        THREE RUNGS, each reached only because the one above had nothing: (1) our own catalogue —
        free, and the exact string the card will show if the word is saved, taken STRICTLY in the
        pair's support language, so a term glossed only in some third language walks on down the
        ladder instead of answering in it (DECISIONS п. 146); (2) the shared cache —
        bought once by whoever typed the word first, free for everybody after; (3) the vendor. On a
        debounced field the same few hundred words are typed over and over, so rungs 1–2 answer
        almost everything.

        ALWAYS 200, always the same shape. There is no failure here worth interrupting somebody who
        is typing: no key (`feature_disabled`), no budget (`limit_reached`), a dead or slow vendor,
        or simply no answer all come back as a null `translation`. The client renders a line when
        there is one and nothing when there is not — it has no error path at all.

        BOTH DIRECTIONS, and the LEARNER states which. `source`/`target` are the pill on the search
        screen: `occasion` asked as `en→ru` is answered in Russian, `случай` asked as `ru→en` is
        answered in English — and the second is the point, since a word they cannot yet name is
        exactly the word worth turning into a card.

        The vendor's own language detection does NOT decide. It was tried and removed: on a single
        word it is confidently wrong often enough to matter (`gate` → Norwegian → «улица»), and a
        wrong answer looks exactly like a right one. A stated direction is always honoured, even
        when the query is in the other language — that is a mistake the learner can see and flip in
        one tap.

        Omit both to get the learner's profile pair (taught language → their own). A pair this
        deployment does not serve is a **422**, never a quiet swap: the pill on screen says which
        way the answer comes back, and a server answering in a different pair would make that label
        a lie. `reversed` reports the outcome for layout only; nothing about languages, directions
        or detection is ever shown to the learner.
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: source, in: query, required: false, schema: { type: string, minLength: 2, maxLength: 2 }, description: the language the query is written in }
        - { name: target, in: query, required: false, schema: { type: string, minLength: 2, maxLength: 2 }, description: the language the answer comes back in }
        - name: taught_side
          in: query
          required: false
          schema: { type: string, enum: [source, target] }
          description: >-
            WHICH HALF of the pair is the language being STUDIED, said by the client instead of
            guessed by the server. A request carries a direction, not a pair of roles: `de → en` is
            either German with English support or English with German support, and the query string
            alone cannot tell them apart. Omit it and the server breaks the tie as before — the
            learner's profile, then the direction's `source` (DECISIONS п. 147). An unparseable
            value reads as «not given» on this debounced GET, because a typo must not put an error
            on a screen somebody is still typing into.
      responses:
        '200':
          description: A hint, or an honest nothing
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      query: { type: string, description: the normalized query the answer is about }
                      translation: { type: string, nullable: true }
                      source:
                        type: string
                        nullable: true
                        enum: [vocabulary, cache, deepl]
                        description: >
                          Which rung answered. INTERNAL — the client does not show it; where a
                          translation came from is the app's business, not the learner's.
                      feature_disabled: { type: boolean, description: no translation provider is configured }
                      limit_reached: { type: boolean, description: the month's character budget is spent }
                      reversed:
                        type: boolean
                        description: >
                          The query was in the learner's own language, so `translation` holds the
                          word being LEARNED. INTERNAL, like `source`: the screen uses it to decide
                          which of the two strings is the headline (the English one always is) and
                          never to say anything about languages or detection.
                      query_too_long:
                        type: boolean
                        description: >
                          Longer than `services.generation.search_query_max_chars` (120). Nothing
                          was asked and nothing was bought — this app catches words and phrases, and
                          the vendor bills by the character. The one state the client renders a line
                          for: «Поиск — для слов и коротких фраз».
        '401': { $ref: '#/components/responses/Unauthorized' }

  /search/languages:
    get:
      tags: [Search]
      summary: Which language pairs this deployment searches in
      description: >
        What the search pill may offer. Read once when the screen opens and cached on the device —
        it changes by deployment, not by session.

        CODES ONLY. What each language is called, and in whose language, is the client's business:
        it already ships endonyms and flags, and a server that also held them would be a second
        list to keep in step with the first.

        TWO LISTS, one per ROLE. `targets` is what may be LEARNED — a language this deployment can
        teach — and `natives` is what may be READ. A pair is any `targets` entry with any `natives`
        entry, the two being different; English is not required on either side (DECISIONS пп. 85,
        134). `target`, singular, is the older field: one taught language, frozen at `en` for the
        app already on the phone, and it goes when that app reads `targets`.
      responses:
        '200':
          description: The pairs on offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      target:
                        type: string
                        description: >
                          LEGACY, frozen at `en` — one taught language, for the shipped app whose
                          «На какой» picker is built from a single value. Read `targets` instead.
                      targets:
                        type: array
                        items: { type: string }
                        description: >
                          the languages that may be LEARNED (the term side of a pair), in the order
                          the pill offers them
                      natives:
                        type: array
                        items: { type: string }
                        description: >
                          the languages a learner may READ (the support side of a pair), in the
                          order the pill offers them — every language the catalogue names
                      default_native:
                        type: string
                        description: >
                          Where the pill starts on a device that has never been set — the learner's
                          own language from their profile, not the first entry of `natives`.
        '401': { $ref: '#/components/responses/Unauthorized' }

  /search/lookup:
    post:
      tags: [Search]
      summary: Look one word up with the model (paid, capped, cached forever)
      description: >
        ONE call to the cheap model for a word the database does not have. A POST the learner taps —
        never something a debounce fires — because it spends money.

        The order is cache → cap → call. A cached answer is served FREE and does not consult the cap
        at all: the answer is a fact about the word, not about who asked, so the second person to
        type it (and the same person tomorrow) pays nothing. Only a genuine miss counts against
        `SEARCH_LOOKUP_DAILY_CAP` (default 30/user/day).

        A spent cap is a **200**, not a 429: `limit_reached: true`, `lookup: null`. It is a normal
        answer the app has a screen for — the client shows the free `/search` results beside it.

        The term is NOT created. It appears only when the learner explicitly saves it via
        `/search/add`, which is what keeps the catalogue free of words nobody wanted.

        EITHER LANGUAGE, one card. `query` may be in the language being learned or in the learner's
        own; `lookup.text` is ALWAYS the former and `lookup.translation` always the latter, so
        `случай` and `occasion` produce the same word. They are two cache rows — the key is the
        query, and they really were two different questions — but they deduplicate to ONE term on
        save, because the term is the English word both questions were about.

        A query the model cannot place at all — keystrokes, a fragment — is also a **200**:
        `not_recognized: true`, `lookup: null`. The client's line is «не получилось распознать,
        проверьте написание», which is advice, and advice does not belong on an error path. The
        verdict is cached like a card (`asdfgh` will not become a word tomorrow) and counts against
        the day's cap like any other bought call.

        `source`/`target` are the same pill as on `GET /search/instant`, with the same rules: omit
        both for the learner's profile pair, and an unserved pair is a 422. The pair also decides
        what language the SAVED translation is written in — `/search/add` reads it off the cached
        lookup row rather than off the learner's profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  minLength: 1
                  # The SAME ceiling `GET /search/instant` refuses at — services.generation
                  # .search_query_max_chars. A field that said «слишком длинно» while the button
                  # behind it bought the paragraph would be two products on one screen.
                  maxLength: 120
                source: { type: string, minLength: 2, maxLength: 2 }
                target: { type: string, minLength: 2, maxLength: 2 }
                taught_side:
                  type: string
                  enum: [source, target]
                  description: >-
                    WHICH HALF of the pair is the language being STUDIED, said by the client instead
                    of guessed by the server — the same optional field the two search GETs take. A
                    request carries a direction and not a pair of roles: `de → en` is either German
                    with English support or English with German support. Omitted, the server breaks
                    the tie as before (DECISIONS п. 147). Naming a side whose language this
                    deployment does not teach is a **422** `taught_side_not_taught`: this endpoint is
                    a deliberate tap and can afford to be told, and answering in the other role would
                    write the card in the wrong language invisibly.
                retry:
                  type: boolean
                  default: false
                  description: >-
                    The learner pressed the button AGAIN on a query the model just refused. A person
                    tapping twice is the retry, so this ignores a stored `not_recognized` outright
                    rather than waiting out its 24-hour expiry — the expiry goes on governing every
                    automatic path, where nobody is watching. It does not bypass the daily cap, and
                    it never re-buys a card that already exists: a positive answer is still served
                    from the cache whatever this says.
                fixed_translation:
                  type: string
                  nullable: true
                  maxLength: 120
                  description: >-
                    ADDITIVE. The translation the learner was looking at in the translator line when
                    they pressed «Собрать карточку» — our catalogue's, the shared hint cache's or
                    DeepL's, whichever rung answered. Given, it is a DECISION and not a suggestion:
                    it goes into the prompt as data («build the card for THIS reading»), it is what
                    comes back as the card's `translation` whatever the model wrote, and the model's
                    own reading is kept beside it as an alternative rather than discarded. Omitted or
                    null — every client before SYN-1b — and nothing changes: the model chooses, as
                    it always did. It does NOT reopen the lookup cache: a cache hit is still served
                    free, and the confirmation reaches the term through `POST /search/add`.
      responses:
        '200':
          description: An answer, or an honest «not today»
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookup:
                        allOf: [{ $ref: '#/components/schemas/LookupCard' }]
                        nullable: true
                      not_recognized:
                        type: boolean
                        description: >
                          The model could not name a word for this query. `lookup` is null and this
                          is not an error — see the description above.
                      limit_reached: { type: boolean }
                      daily_cap: { type: integer }
                      used_today: { type: integer, description: paid lookups this UTC day }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422':
          description: >
            Either the input (`code: validation_error`) or the ANSWER (`code: lookup_refused`,
            `meta.reason` = `wrong_language` | `description_gives_away` | `empty_query` |
            `model_unavailable`). There is no repair pass: a lookup is a person watching a spinner,
            and a second call to fix the first would double both the wait and the cost.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /search/add:
    post:
      tags: [Search]
      summary: Save a search result — term, folder, and the POOL when asked
      description: >
        Names either `lookup_id` (a freshly looked-up word: the cached answer becomes a term, with
        its description) or `term_id` (a word the database already had) — never both. `collection_id`
        omitted means «Сохранённые», created on the spot if this is the first save.

        THE QUEUE IS A SEPARATE ACT, and `enroll` is where the caller says which one this is. The
        shelf and the trainer's queue are different things: «Сохранить» files the word (it then waits
        in the swipe pass, like every other shelved word), «Учить сразу» files it AND puts it in the
        queue — the same door «Учить это слово» opens. What the pool rule forbids is enrolling by
        side effect, and both branches here answer a button the learner pressed.

        `enroll` DEFAULTS TO TRUE, which is this endpoint's behaviour before the two acts were split
        apart, so a client that does not know the field keeps working unchanged.
        The enrichment станок is chained exactly as it is after a generation (`GENERATION_AUTO_ENRICH`),
        on both branches — a shelved word still gets its card built.

        Idempotent throughout — the term dedups on its normalized text, the folder add is a no-op
        when the word is already there, the description is write-once, and re-enrolling an enrolled
        pair changes neither its rung nor its due date. `added`/`enrolled` say what actually happened.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lookup_id: { type: string, minLength: 26, maxLength: 26 }
                term_id: { type: string, minLength: 26, maxLength: 26 }
                collection_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
                fixed_translation:
                  type: string
                  nullable: true
                  maxLength: 255
                  description: >-
                    ADDITIVE. The same confirmed line `POST /search/lookup` takes, sent AGAIN on the
                    save — deliberately, because the lookup may have been a free cache hit written by
                    somebody else's call, worded their way, and the learner's confirmation still has
                    to reach the term they are about to study. It becomes the term's primary
                    translation (the question every card of that term asks); every other reading is
                    stored beside it. Only meaningful with `lookup_id`: saving an existing `term_id`
                    means tapping a row whose translation the learner can already see. Omitted or
                    null, nothing changes.
                enroll:
                  type: boolean
                  default: true
                  description: >-
                    WHICH ACT this is. `false` = «Сохранить»: the word goes on the shelf and waits in
                    the swipe pass. `true` = «Учить сразу»: the shelf AND the trainer's queue.
                    Omitted means `true` — the endpoint enrolled unconditionally before the two acts
                    were named separately, and a build that predates the field must not change
                    behaviour under it.
              oneOf:
                - required: [lookup_id]
                - required: [term_id]
      responses:
        '201':
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      term_id: { type: string }
                      collection_id: { type: string }
                      collection_title: { type: string, description: the folder's CURRENT name — the learner may have renamed it }
                      collection_is_default: { type: boolean }
                      added: { type: boolean, description: false when the word was already in this folder }
                      enrolled:
                        type: boolean
                        description: >-
                          Did THIS call put the word into the trainer's queue? False for two
                          different reasons: `enroll` was false (the word was shelved), or the pair
                          was already in the pool.
        '403':
          description: The folder is not the caller's (code `collection_not_editable`) — nothing is enrolled
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: No such cached lookup (code `lookup_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /collections:
    get:
      tags: [Collections]
      summary: List the user's collections (cursor-paginated, newest first)
      parameters:
        - { name: cursor, in: query, required: false, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 30 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CollectionSummary' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Collections]
      summary: Create a custom collection
      description: >
        Accepts a client-generated `id` (ULID) for offline idempotency; re-sending the same id does
        not duplicate.


        The language PAIR is optional and defaults to the owner's profile (`native_language` →
        `source_lang`, `target_language` → `target_lang`). Once created the pair is fixed and is what
        every reader uses — the profile is a default at creation and nothing more. The collection
        then accepts only terms of its `target_lang` (see the `422 term_language_mismatch` on
        `/collections/{id}/items`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                id: { type: string, minLength: 26, maxLength: 26 }
                title: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string, maxLength: 2000, nullable: true }
                source_lang: { type: string, minLength: 2, maxLength: 5 }
                target_lang: { type: string, minLength: 2, maxLength: 5 }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /collections/default:
    get:
      tags: [Collections]
      summary: The user's «Сохранённые» folder, created on first ask
      description: >
        The personal folder a one-tap save from search lands in. Created LAZILY — a learner who never
        saves anything never gets an empty folder on their shelf — so this GET may write. There is
        exactly one per owner (a partial unique index says so, not just the handler); it is an
        ordinary custom collection in every other respect, may be renamed, and can never be deleted
        (`is_default: true`, DELETE answers 409 `collection_not_deletable`).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /collections/{id}:
    get:
      tags: [Collections]
      summary: Show a collection with its items (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found (or not the owner) }
    patch:
      tags: [Collections]
      summary: Update title/description (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string, maxLength: 2000, nullable: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: Not found (code `collection_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Collections]
      summary: Soft-delete a collection (owner only)
      description: >
        Deliberately shallow: the words stay in the pool with their rung, their due date and their
        whole append-only review history. A folder is a shelf, not the queue — the only way out of
        the pool is «убрать из тренировки» (DELETE /pool/terms/{termId}).
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '204': { description: Deleted }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: Not found (code `collection_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409':
          description: The «Сохранённые» folder cannot be deleted (code `collection_not_deletable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /collections/{id}/items:
    post:
      tags: [Collections]
      summary: Add a word to a collection (owner only)
      description: >
        Found-or-creates the term in Vocabulary, then attaches it. Idempotent — adding the same word
        twice is a no-op. Returns the refreshed collection. `translation` is optional: when omitted,
        the term is created bare and enriched asynchronously (translation, transcription, example and
        a stock photo are filled in from the LLM + Pexels), so images/translation appear via a later
        `/sync`.


        A collection holds exactly ONE language pair and accepts only terms of its `target_lang`.
        Adding a term of another language is refused with `422 term_language_mismatch`; the word
        belongs in a collection of its own pair.
      parameters:
        - $ref: '#/components/parameters/UlidId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                term_id:
                  type: string
                  minLength: 26
                  maxLength: 26
                  description: >
                    Put an EXISTING term in this folder (found by search, or sitting in another
                    folder). Nothing is created. Mutually exclusive with `text`.
                text: { type: string, minLength: 1, maxLength: 200 }
                translation: { type: string, maxLength: 500, nullable: true, description: Optional; omit to have it auto-enriched. }
                type: { type: string, enum: [word, phrase, idiom, phrasal_verb] }
              oneOf:
                - required: [term_id]
                - required: [text]
      responses:
        '201':
          description: Word added
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: >
            Request validation (the usual 422 shape), or the term is not of this collection's pair —
            code `term_language_mismatch`, `meta.expected_lang` / `meta.actual_lang` naming the two.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items: { type: string }

  /collections/{id}/items/{termId}/move:
    post:
      tags: [Collections]
      summary: Move a term to another of the user's own folders
      description: >
        One command rather than remove+add from the client, so the two halves cannot half-happen
        offline and leave the word in neither folder. BOTH ends are ownership-checked before anything
        is written. Idempotent — replaying the same move changes nothing. The pool is untouched.


        The destination's pair is checked too, inside the same transaction and BEFORE the removal, so
        a move into a folder of another pair fails whole (`422 term_language_mismatch`) and the word
        stays where it was.
      parameters:
        - $ref: '#/components/parameters/UlidId'
        - { name: termId, in: path, required: true, schema: { type: string, minLength: 26, maxLength: 26 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to_collection_id]
              properties:
                to_collection_id: { type: string, minLength: 26, maxLength: 26 }
      responses:
        '204': { description: Moved }
        '403':
          description: One of the two folders is not the actor's (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: Either folder not found (code `collection_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: >
            Request validation (the usual 422 shape), or the destination folder teaches another
            language — code `term_language_mismatch`. Nothing moved.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items: { type: string }

  /collections/{id}/items/{termId}:
    delete:
      tags: [Collections]
      summary: Remove a term from a collection (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
        - { name: termId, in: path, required: true, schema: { type: string, minLength: 26, maxLength: 26 } }
      responses:
        '204': { description: Removed }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /study/sessions:
    post:
      tags: [Study]
      summary: Build a self-contained study session (due then new cards, one card per exercise)
      description: >-
        Assembles a ready-to-play session: due cards first (state <> new, by due date), then new
        cards up to the day's remaining new-term quota (one global quota — a scoped session does
        not multiply it). Each card carries its exercise mode, chosen from the term's reps and answer
        shape: reps 0 → multiple_choice; reps ≥ 1 → a production rotation that leads with the base
        (word_bank for multi-word / typing for single-word) then fans out to listening (hear it, type
        it) and cloze (fill the blank in the term's own example); review rotates typing/listening/cloze;
        known → typing. cloze is only offered when the example contains the answer (the client blanks
        that span from `example`). The card also carries the prompt (user's language), the answer
        (target language) and mode-specific extras — shuffled options for multiple_choice, shuffled
        chips for word_bank — so the client runs it offline.
        The session's composition is fixed server-side under the returned session_id. A practice
        session (practice=true) instead draws EVERY term in scope ignoring due_at, state and the
        daily quota (device-batch F17): free training on demand. It introduces nothing and never
        schedules; its answers are recorded with is_practice but do not move progress.
        What "in scope" means depends on collection_id, and the two answers differ on purpose.
        WITHOUT one, the scope is the learner's POOL — the words they chose to study. WITH one, the
        scope is the WHOLE COLLECTION, including terms that are not in the pool: the learner pointed
        at a topic and asked to drill it, so an untriaged collection is playable («зашёл в кафе,
        открыл тему»). Terms in the pool lead the session and are dealt by their own rung; terms
        outside it follow, and are dealt only the trainers the admission matrix opens at the
        assembly rung — multiple_choice and the assembly modes, never typing, listening or
        dictation. Reaching such a term enrols nothing: it is still outside the pool afterwards, and
        a study session over the same collection is unchanged.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                collection_id: { type: string, minLength: 26, maxLength: 26, nullable: true, description: Scope to one owned collection }
                limit: { type: integer, minimum: 1, maximum: 100, default: 20 }
                practice: { type: boolean, default: false }
                session_id: { type: string, minLength: 26, maxLength: 26, nullable: true, description: Client-generated ULID (idempotent) }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      session_id: { type: string }
                      cards:
                        type: array
                        items: { $ref: '#/components/schemas/SessionCard' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /study/sessions/{sessionId}/complete:
    post:
      tags: [Study]
      summary: Close a study run the learner played to its summary screen
      description: >-
        Stamps `ended_at` and a compact `stats` summary on the session, which is what makes a played
        run distinguishable from an abandoned one (before this there was no writer for the column at
        all, so every row looked abandoned). The summary — cards answered, of those correct
        (`reviews.is_correct`, i.e. anything but `again`), and intros shown — is RECOMPUTED from the
        session's own append-only logs, never taken from the client: the only thing the client
        supplies is when the learner finished, because the run may well have ended offline.
        Nothing here touches progress or scheduling; the answers were folded when they were uploaded.
        Idempotent and never an error: the client sends this through the same offline queue its
        answers ride, so a re-send, another user's session, an unknown id and a run that answered
        nothing all return 200 with `completed: false`. An abandoned run is deliberately left open
        rather than closed with a row of zeroes — `ended_at IS NULL` is then the true statement
        about it.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ended_at:
                  type: string
                  format: date-time
                  nullable: true
                  description: When the learner finished. Omitted means now.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      completed:
                        type: boolean
                        description: Whether THIS call is the one that closed the session.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /study/progress:
    get:
      tags: [Study]
      summary: Per-collection learning progress (derived, not stored)
      description: >-
        For each of the user's own collections: total, new, due, and mastered counts, with
        mastered broken into confirmed (proven by exercises) vs familiar (marked known) and the
        rest in progress. Computed by folding the (user, term) progress over collection membership.


        `by_language` rides ALONGSIDE `data`, which is unchanged field for field: the same counters
        cut by the language of the TERM — «сколько усвоено в румынском» (DECISIONS п. 139). It is a
        REGROUPING of the very same rows and not a second progress: progress lives on `(user, term)`
        and a term has exactly one language. There is deliberately no cut by PAIR — a word studied
        through two folders with different support languages would then be counted twice.


        A term is counted ONCE in `by_language`, however many folders hold it (`data` counts it once
        per folder, which is right for a folder's own bar). REFERENCE languages are absent from
        both: zh and ja carry no trainer, so their words have no progress to report, and a phrasebook
        collection drops out of `data` rather than reporting a «0 из 40» that reads as work not yet
        done (пп. 84, 136).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CollectionProgress' }
                  by_language:
                    type: array
                    description: Ordered by language code, so the response is diffable between runs.
                    items: { $ref: '#/components/schemas/LanguageProgress' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /reviews/batch:
    post:
      tags: [Study]
      summary: Upload a session's events — answers (server-graded) and intros
      description: >
        Offline-friendly: up to 200 answers with client-generated ULIDs. The client sends the
        RAW answer (response text, mode, latency, hint) — the SERVER grades it, so the grading
        rule lives in one place. Re-sending an id is a duplicate, not an error; an answer for an
        unknown term is skipped. A practice answer (is_practice) is recorded but never schedules.


        A batch also carries `exposures`: INTRO cards, which were shown and asked nothing. They
        are a separate list because they are not answers — they produce no grade and are never
        written to the review log, which holds real retrievals only. At least one of the two
        lists must be present; an intro-only batch is the normal shape of a first session with a
        brand-new collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                exposures:
                  type: array
                  maxItems: 200
                  description: >-
                    Intro cards shown. Identified by the PAIR (user, term), not by an event id:
                    a term is introduced once, so a re-uploaded exposure is an ignored insert
                    that keeps the first `shown_at` — no client ULID is needed to make it safe.
                    Recording one moves the pair from ladder rung 0 to rung 1 and writes no
                    scheduling field. Naming a session the server has never seen adopts it as an
                    offline practice run, exactly as an answer does; if it cannot be adopted the
                    exposure is still recorded, without the session.
                  items:
                    type: object
                    required: [term_id, shown_at]
                    properties:
                      term_id: { type: string, minLength: 26, maxLength: 26 }
                      shown_at: { type: string, format: date-time }
                      session_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
                reviews:
                  type: array
                  maxItems: 200
                  items:
                    type: object
                    required: [id, term_id, exercise_mode, response, answered_at, client_seq]
                    properties:
                      id: { type: string, minLength: 26, maxLength: 26 }
                      term_id: { type: string, minLength: 26, maxLength: 26 }
                      exercise_mode: { type: string, enum: [multiple_choice, word_bank, typing, listening, cloze, scramble, dictation, pick_correct, speaking, description_match] }
                      response: { type: string, description: The user's raw answer text }
                      answered_at:
                        type: string
                        format: date-time
                        description: >-
                          Reference-only (device clock). NOT used to order the fold — see client_seq.
                      client_seq:
                        type: integer
                        minimum: 0
                        description: >-
                          Per-user monotonic sequence assigned by the client at answer time,
                          surviving queue clears. The server folds answers into progress in
                          client_seq order (not answered_at, a device clock that can lag). Must
                          be strictly increasing per user across the whole history; initialise
                          from GET /auth/me `max_review_seq` after a reinstall.
                      used_hint: { type: boolean, default: false }
                      is_practice: { type: boolean, default: false }
                      latency_ms:
                        type: integer
                        minimum: 0
                        nullable: true
                        description: >-
                          Client-measured, from the card's paint to the answer. Optional: null
                          means unmeasured (treated neutrally). Do NOT send 0 for an unmeasured
                          answer — send null.
                      session_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
                      ladder_step:
                        type: integer
                        minimum: 1
                        maximum: 5
                        nullable: true
                        description: >-
                          The rung of the acquisition ladder the card was dealt at, echoed from
                          the card. Required for rung 1 (forward recognition), which is graded by
                          IDENTITY: the learner taps an option and the client uploads that
                          option's TERM ID as `response`, so the key is an id and no translation
                          ever enters an answer key. The pair's rung moves as this answer is
                          folded, which is why the card has to say what it asked. 0 is not valid
                          here — that is the intro, which belongs in `exposures`.
      responses:
        '200':
          description: Applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accepted: { type: integer }
                      duplicates: { type: integer }
                      unknown: { type: integer }
                      rejected:
                        type: integer
                        description: >-
                          Swipes REFUSED because the word is in a reference language (one that
                          carries no trainers at all — zh, ja in v1; DECISIONS пп. 84, 136). Nothing
                          is written for them: two of the three verdicts enrol, and the pool does not
                          take a word that can never be dealt as a card. Separate from `unknown`,
                          which is a term this account cannot see and goes away by itself — a
                          `rejected` swipe will never land, however often it is retried. The rest of
                          the batch is applied as usual (a batch never fails whole).
                      exposures:
                        type: integer
                        description: >-
                          Intro cards newly recorded. Counted apart from `accepted` because they
                          are not answers; a re-upload reports 0 here and changes nothing.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /stats:
    get:
      tags: [Study]
      summary: Training dashboard stats
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Stats' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /home-plan:
    get:
      tags: [Study]
      summary: The home screen's day — session composition, the pool's size, the schedule just ahead
      description: >-
        Everything the main screen draws, in one read. `session.repeat` and `session.new` come from
        the SAME planner call `POST /study/sessions` makes (same session size, same remaining
        new-term quota), so the card can never offer a session the server would return empty;
        `session.triage` is the swipe pass beside it and is why `total` is not `repeat + new`.


        Read-only: producing this writes nothing — no session, no exposure, no quota spent.


        Every block the design draws has a state in which it is not drawn at all, and this contract
        says so with `null` / `[]` rather than with a zero. `today`, `next_review`, `continue`,
        `estimated_minutes`, `triage_collection_id` and `days_until_queue` are all nullable for that
        reason: the screen's rule is «блок без данных не рисуется», and «0 слов» is a line it never
        shows.


        Deliberately NOT part of `/stats`: that endpoint is the dashboard's aggregate (totals,
        mastered, the activity calendar) and the Progress screen reads it too. This one runs the
        session planner and hydrates term and collection content to say what it says.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/HomePlan' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /triage/queue:
    get:
      tags: [Study]
      summary: The first-pass swipe queue for one collection (not-yet-triaged, not-yet-studied terms)
      description: >-
        A collection's terms that have neither a progress row nor a triage record, capped at
        limit. Content is included so the whole batch can be swiped offline. Excluding
        already-triaged terms is what stops a term from being asked twice, even when an
        "unknown" swipe leaves it new. The response is an envelope: `cards` plus `remaining`,
        the count of eligible terms beyond this page.
      parameters:
        - name: collection_id
          in: query
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 40, default: 40 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [cards, remaining]
                    properties:
                      cards:
                        type: array
                        items: { $ref: '#/components/schemas/TriageCard' }
                      remaining:
                        type: integer
                        minimum: 0
                        description: >-
                          Eligible (not-yet-triaged, not-yet-studied) terms left AFTER this page —
                          i.e. what subsequent GETs will still serve, NOT the collection's total
                          new-term count. Lets the client show honest progress ("N more after
                          sync") without diverging from the real queue. 0 means this is the last page.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /triage/batch:
    post:
      tags: [Study]
      summary: Upload a batch of triage swipes (idempotent by triage id)
      description: >-
        A swipe is a self-assessment, kept out of the review log. Projects onto (user, term)
        progress, and decides POOL MEMBERSHIP: `unknown` → a rung-0 row, enrolled; `unsure` →
        the first recognition rung, enrolled; `known` → a `known` row with a verification check,
        NOT enrolled (on an untaught word this supersedes an earlier enrolment). A pair that has
        actually been taught is never rewritten by a swipe — it is only enrolled. Re-sending an
        id is a duplicate, not an error; a swipe for an unknown term is skipped, and a swipe for a
        REFERENCE-language term is refused (`rejected`) rather than written.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [triages]
              properties:
                triages:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [id, term_id, verdict, decided_at, client_seq]
                    properties:
                      id: { type: string, minLength: 26, maxLength: 26 }
                      term_id: { type: string, minLength: 26, maxLength: 26 }
                      verdict: { type: string, enum: [known, unknown, unsure] }
                      decided_at:
                        type: string
                        format: date-time
                        description: >-
                          Reference-only (device clock). NOT used to decide the current verdict —
                          see client_seq.
                      client_seq:
                        type: integer
                        minimum: 0
                        description: >-
                          Per-user monotonic sequence assigned by the client at swipe time,
                          surviving queue clears. The current verdict for a (user, term) is the
                          one with the greatest client_seq (not the latest decided_at, a device
                          clock that can lag and roll back a genuinely-later verdict). Must be
                          strictly increasing per user across the whole history; initialise from
                          GET /auth/me `max_triage_seq` after a reinstall.
                      collection_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
                      latency_ms:
                        type: integer
                        minimum: 0
                        nullable: true
                        description: >-
                          Client-measured, from the card's paint to the FIRST event (flip or swipe,
                          whichever comes first). Optional: null means unmeasured (treated neutrally
                          — never risky). Do NOT send 0 for an unmeasured swipe — send null.
                          (Risk-by-latency applies to phrases only.)
                      revealed:
                        type: boolean
                        nullable: true
                        description: >-
                          Whether the learner flipped the card (revealing the translation/example)
                          before deciding. A `known` verdict reached after peeking is a weaker
                          signal — recognition of a hint, not recall — so it drives an early
                          verification check, on par with a too-fast swipe. Null/false = no peek
                          (neutral); applies to words and phrases alike.
      responses:
        '200':
          description: Applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accepted: { type: integer }
                      duplicates: { type: integer }
                      unknown: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /pool/terms/{termId}:
    put:
      tags: [Study]
      summary: Put a term into the learner's pool («Учить это слово»)
      description: >-
        THE POOL is the learner's own list of words being studied — the queue, as opposed to the
        catalogue their collections are. STUDY sessions are assembled from it and from nothing else,
        so a word is TAUGHT only after a deliberate act: this endpoint, or a `не знаю` / `не уверен`
        triage swipe. (Free practice scoped to a collection may DRILL a word outside the pool — see
        POST /study/sessions — but it moves nothing and never enrols.)

        Idempotent. The pair's row is created if the learner has never met the word; if it is
        already in the pool nothing is written, and the ORIGINAL enrolment moment is kept. A pair
        that was paused and is being brought back resumes at the rung, counter and due date it left
        with — none of them is touched here.

        There is no GET: the device reads its pool from its own mirror, which `/sync` keeps fresh
        (`enrolled_at` rides every progress row).
      parameters:
        - name: termId
          in: path
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
      responses:
        '200': { $ref: '#/components/responses/PoolMembership' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not a term id }
        '422':
          description: >-
            The term is in a REFERENCE language — one this deployment does not teach (zh, ja in v1;
            DECISIONS пп. 84, 136). Such a language carries no trainer at all, so an enrolled word
            would be «being studied» and never come back. Code `reference_language_term`, with
            `meta.term_id` / `meta.lang`. Not reachable from an app in step with the server: a
            reference collection shows no «Учить это слово» at all.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

    delete:
      tags: [Study]
      summary: Take a term out of the learner's pool («Убрать из изучения»)
      description: >-
        A PAUSE, not an erasure. `enrolled_at` is cleared and nothing else changes: the append-only
        review log, the acquisition rung, the successful-review counter and the SM-2 schedule all
        stand, so re-enrolling continues from exactly where the word was left. Idempotent — a pair
        that is not in the pool answers 200 with `changed: false`.
      parameters:
        - name: termId
          in: path
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
      responses:
        '200': { $ref: '#/components/responses/PoolMembership' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not a term id }

  /plans:
    post:
      tags: [Plans]
      summary: Create a plan as a DRAFT
      description: >-
        A LEARNING PLAN is not a collection. It is a dated mechanism: one goal, one event date, and
        a number of days the SERVER computes from the two. A collection is a bag of useful words
        with no opinion about time; every field here is about the deadline.

        A draft costs NOTHING — no model call, no day, no word held. That is what makes the
        three-step flow honest: create → outline (P1 + the scheduler) → adjust (the scheduler
        again, free) → start. The learner reads the skeleton before they commit to it, and
        adjusting it does not spend money.

        The SUPPORT language is not a field. It is read from the account at every point of use;
        one learner has one native language and a frozen copy on a plan would be a second answer
        to a question that already has one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [goal_text, target_lang, level, event_date]
              properties:
                goal_text:
                  type: string
                  minLength: 5
                  maxLength: 500
                  description: >-
                    What the learner has to be able to do, in their own words, in their own
                    language. «Иду к врачу, болит спина, надо объяснить и понять назначение.»
                target_lang: { type: string, minLength: 2, maxLength: 5 }
                level:
                  type: string
                  enum: [zero, basic, conversational, fluent]
                  description: >-
                    Deliberately not CEFR. A plan asks «what can you say out loud in this
                    situation», which is a different question from B1. The level moves the
                    DIFFICULTY, never the topic: a zero learner going to the doctor still goes to
                    the doctor.
                event_date:
                  type: string
                  format: date
                  nullable: true
                  description: >-
                    The day it happens. Today is legal (a one-day plan); the past is not; NULL is
                    «Без даты» (кадр V4·04б) — a whole shape of plan rather than a distant date.
                    Nothing about an undated plan is compressed toward a deadline, `days_to_event`
                    is null, `deadline_tight` is false, the days carry no `scheduled_on` and open
                    one after another, and the rehearsal is «в конце».

                    The key is REQUIRED and may be null: a client that simply forgot the date gets
                    a 422 rather than an undated plan, because «без даты» is a choice the learner
                    makes and must never be something an app does by omission.
                listening:
                  type: array
                  maxItems: 3
                  description: >-
                    What the learner tapped on the optional listening step (кадры V4·03…03г), line
                    by line. Absent or empty = the step was skipped or never offered, which is not
                    the same fact as «прошёл и ничего не понял».

                    The VERDICT is not on the wire. «Упор на понимание» / «упор на говорение» is
                    derived on the server from these rows — all understood → speaking, anything
                    else (mixed included) → understanding — so a client cannot send a balance that
                    disagrees with the answers under it. It reaches P1 as `{{diagnostics}}` and P2
                    as `{{balance}}`.
                  items:
                    type: object
                    required: [text, understood]
                    properties:
                      text: { type: string, maxLength: 300 }
                      translation: { type: string, maxLength: 300, nullable: true }
                      place: { type: string, maxLength: 120, nullable: true }
                      understood:
                        type: boolean
                        description: «Понял» = true, «Не совсем» = false. There is no right answer.
                minutes_per_day:
                  type: integer
                  minimum: 5
                  maximum: 120
                  default: 20
                  description: >-
                    Decides the day's term budget through the capacity table (10 → 5, 20 → 9,
                    40 → 16, interpolated between). The same table the prompt is told about.
      responses:
        '201': { $ref: '#/components/responses/Plan' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422':
          description: >-
            Invalid input, or `event_date_in_past` — the event has already happened. A refusal
            rather than a clamp to today: the whole plan is arithmetic over this date, so getting
            it wrong has to stop the arithmetic instead of being absorbed by it.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

    get:
      tags: [Plans]
      summary: Every plan this learner has run, newest first
      description: >-
        SUMMARIES, not whole plans: the План tab shows the finished preparation at the top and an
        archive of the ones before it, and each row says three words. A full read runs the per-day
        progress computation, which is a collection read, a content read and a review-log read per
        day — for a list, that is the wrong price.

        Drafts are excluded. A draft is a plan somebody started describing and walked away from,
        and an archive of those is a list of abandoned sentences rather than of preparations that
        happened.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/PlanSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /plans/listen-warmup:
    post:
      tags: [Plans]
      summary: Lines of the situation to listen to, and continuations of the goal
      description: >-
        ONE endpoint, TWO moments of the entry, and `target_lang` is what tells them apart.

        WITHOUT `target_lang` — the goal step (кадр V4·01в), fired on a typing pause while the goal
        is still too short. The learner has not reached the language question yet, so the answer is
        `continuations` only and `lines` comes back empty. That is what «Дописать за тебя» offers:
        two ways to carry their own sentence further. It replaced static suggestions, which lived on
        somebody else's topic — a goal about an IT interview was offered a hint about a sore back.

        WITH `target_lang` — «Хочешь, настрою точнее?» (кадры V4·03…03г), fired in the background
        right after the level is chosen. Both halves come back.

        Asked BEFORE any plan exists, so it carries no plan id and creates nothing; its ledger row
        holds `plan_id = null`, honestly — there is nothing yet to name.

        ALWAYS 200, and an EMPTY half is a legitimate answer meaning «этого блока нет»: both things
        it feeds are optional, so a vendor outage, a malformed answer or an empty list all resolve
        the same way — the block is not shown and nothing apologises for it. There is no retry and
        no error screen; the failure is in the log and in the spend ledger.

        It SPENDS MONEY (one `gpt-5.4` call, ≈ $0.002 for continuations alone, ≈ $0.004 for the full
        answer), which is why it is a POST and why nothing polls it. The client debounces the typing
        pause and caches by the goal text, so the same sentence is never paid for twice.

        What the learner taps on the listening step is kept on the device and rides back with
        `POST /plans` as `listening`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [goal_text, level]
              properties:
                goal_text: { type: string, minLength: 5, maxLength: 500 }
                target_lang:
                  type: string
                  minLength: 2
                  maxLength: 5
                  nullable: true
                  description: >-
                    OPTIONAL, and its absence is a question rather than an omission: without it the
                    call is the goal step asking for continuations alone. Present-but-unsupported is
                    still a 422.
                level: { type: string, enum: [zero, basic, conversational, fluent] }
      responses:
        '200':
          description: >-
            OK. Either half may be empty; an empty one means that block is not shown. A call made
            without `target_lang` always answers with an empty `lines`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [lines, continuations]
                    properties:
                      lines:
                        type: array
                        maxItems: 3
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              description: The line, in the studied language. Spoken by the TTS.
                            translation:
                              type: string
                              description: Shown only behind «Показать текст».
                            place:
                              type: string
                              description: >-
                                2–4 words naming where it sounds — «на стойке», «по телефону». The
                                надзаголовок over the play button. Prose from the model, rendered
                                and never matched.
                      continuations:
                        type: array
                        maxItems: 2
                        description: >-
                          «Дописать за тебя» — the learner's own goal carried a little further, in
                          the support language. Tapping one appends it to what they typed.
                        items: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /plans/active:
    get:
      tags: [Plans]
      summary: The plan the learner is currently on
      description: >-
        The one plan in a HOLDING state — `active`, or `paused` if there is no active one. 204 when
        there is none. One active plan per learner: a plan takes over the day and holds words in
        the pool, and two of them fight over both.
      responses:
        '200': { $ref: '#/components/responses/Plan' }
        '204': { description: No plan is running }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /plans/{planId}:
    get:
      tags: [Plans]
      summary: One plan, whole
      description: >-
        Structure, days, the server's arithmetic and readiness, in one read. A plan belonging to
        another learner answers 404 and not 403 — whether a given ULID exists is not something a
        stranger gets to find out.
      parameters:
        - $ref: '#/components/parameters/PlanId'
      responses:
        '200': { $ref: '#/components/responses/Plan' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No such plan for this learner }

  /plans/{planId}/days/{dayIndex}:
    get:
      tags: [Plans]
      summary: One day of a plan, with its register
      description: >-
        The day, plus the plan's binding lists beside it (`entities`, `constraints`, `goal_terms`)
        — a client rendering one day needs them, and a second request for the plan to get them
        would be a round trip for data the server already had in hand.

        `terms` is the day's REGISTER: its own phrases and words first, then everything still in
        flight from earlier days (`from_day_index` smaller than this day's), each with the STAGE it
        stands on. The stage is why this cannot be a collection id the client resolves against its
        own mirror: a stage is stored nowhere. It is a pure function of the review log, computed on
        every read, and the device's mirror holds answers rather than stages.
      parameters:
        - $ref: '#/components/parameters/PlanId'
        - name: dayIndex
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PlanDay' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No such day }

  /audio/lines/{audioId}:
    get:
      tags: [Plans]
      summary: The server's recording of one line
      description: >-
        The audio a line is played with (наряд TTS-1). Addresses come from `audio_url` on a plan
        day's terms and on a sitting's dialogue turns — a client never builds one itself.

        The body is `audio/mpeg` (or `audio/wav`, when the language pack's voice is a vendor that
        returns raw PCM). Content at an address never changes: the id identifies (line, voice, pace),
        so a new voice is a new address rather than new bytes at the old one. That is why the answer
        is `immutable` and why a downloaded file may be cached for as long as the device likes.
      parameters:
        - name: audioId
          in: path
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
      responses:
        '200':
          description: The audio file
          content:
            audio/mpeg:
              schema: { type: string, format: binary }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: 'No such recording, or its file is gone' }

  /plans/{planId}/days/{dayIndex}/rebuild:
    post:
      tags: [Plans]
      summary: One more attempt for a day that burned
      description: >-
        «Собрать заново». A day gets two paid calls and is then `failed`, and until this existed the
        only move left on the screen was «Собрать план заново» — which throws away every day already
        walked and buys a new skeleton.

        Gives the day ONE attempt back and queues it. A day that is not `failed` is not touched:
        the response is whatever status it already has, so a second tap costs nothing. Never
        automatic and never polled — this endpoint spends money, which is why it is not a flag on
        `…/generate`.
      parameters:
        - $ref: '#/components/parameters/PlanId'
        - name: dayIndex
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: The day's status after the call
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      day_index: { type: integer }
                      status: { type: string, enum: [pending, generating, ready, failed, done] }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: 'No such day, or the final day — it writes no material' }

  /plans/{planId}/rehearsal:
    post:
      tags: [Plans]
      summary: The three minutes before the event
      description: >-
        Every PHRASE the plan taught, in day order, each with the line the interlocutor says before
        it (`role.opening_lines[0]` of that day — the only place in the outline that holds real
        utterances by the other side).

        Words are deliberately absent. The screen this feeds is three minutes long, and what three
        minutes buy is hearing yourself say the sentences, not being tested on the vocabulary inside
        them.

        A POST because it is an ACT the learner performs and because it costs a content read per
        day — not a resource anybody should be free to poll. It WRITES NOTHING: a rehearsal
        schedules nothing and closes no stage.
      parameters:
        - $ref: '#/components/parameters/PlanId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PlanRehearsal' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No such plan for this learner }

  /plans/{planId}/session:
    post:
      tags: [Plans]
      summary: Today's sitting of this plan
      description: >-
        THE DAY, ASSEMBLED. A self-contained package like `POST /study/sessions`, plus the plan's own
[...]
