openapi: 3.1.0
info:
  title: WordTrainer API
  version: 0.1.0
  description: >
    Backend2 API for the WordTrainer mobile app. Base path `/api/v1`, Sanctum bearer
    tokens, JSON, snake_case. This file is the contract — the Dart client is generated
    from it, so an endpoint not described here effectively does not exist.
    Errors are RFC 7807 `application/problem+json` with a stable machine `code`, except
    input validation which uses Laravel's 422 `{message, errors}` shape.

servers:
  - url: https://api.wordtrainer.app/api/v1
    description: Production (placeholder)
  - url: http://localhost:8001/api/v1
    description: Local (docker)

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Collections
  - name: Study
  - name: Generation
  - name: Search

paths:
  /auth/google:
    post:
      tags: [Auth]
      summary: Sign in with a Google ID token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token]
              properties:
                id_token: { type: string }
                device_name: { type: string, maxLength: 100 }
                timezone: { type: string, description: "Device IANA timezone (e.g. Europe/Kyiv). On first sign-in it seeds profiles.timezone so calendar-day due rounding (F19) works before the first PUT /profile. Refreshed on later logins; validated as an IANA zone." }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user: { $ref: '#/components/schemas/User' }
        '422':
          $ref: '#/components/responses/Problem'

  /auth/me:
    get:
      tags: [Auth]
      summary: The authenticated user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    delete:
      tags: [Auth]
      summary: Delete the account and all of the user's data (App Store requirement)
      description: >
        Irreversible. Cascades across every module (collections, subscriptions, progress, reviews,
        triages, sessions, stats, generations), revokes all tokens, and nulls the user's authorship
        on global terms — the terms themselves stay. Runs in one transaction.
      responses:
        '204': { description: Account deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the current device token
      responses:
        '204': { description: Logged out }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /profile:
    put:
      tags: [Auth]
      summary: Update learning preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                native_language: { type: string, minLength: 2, maxLength: 5 }
                target_language: { type: string, minLength: 2, maxLength: 5 }
                cefr_level: { type: string, enum: [A1, A2, B1, B2, C1, C2] }
                daily_goal: { type: integer, minimum: 0, maximum: 100 }
                timezone: { type: string, description: "Device IANA timezone (e.g. Europe/Kyiv); the scheduler floors day-scale due dates to the start of the user's day in it (F19). Send it at login and whenever the device zone changes. Validated as an IANA zone." }
                onboarded: { type: boolean, description: "Send true on the onboarding-finish call to stamp profiles.onboarded_at once (never overwritten). Regular edits omit it." }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /generations:
    post:
      tags: [Generation]
      summary: Request an AI-generated collection (async)
      description: >
        Returns 202 with a pending request; poll GET /generations/{id} until succeeded|failed.
        Accepts an optional client-generated `id` (ULID) for offline idempotency: re-sending the same
        id returns the existing request with 200 (no new job, no quota spent) instead of 202.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                id: { type: string, minLength: 26, maxLength: 26, description: Client-generated ULID for idempotent retries. }
                prompt: { type: string, minLength: 2, maxLength: 500 }
                levels:
                  type: array
                  items: { type: string, enum: [A1, A2, B1, B2, C1, C2] }
                size: { type: integer, minimum: 8, maximum: 25 }
                source_lang: { type: string, minLength: 2, maxLength: 5 }
                target_lang:
                  type: string
                  minLength: 2
                  maxLength: 5
                  description: >
                    Optional. When omitted, the server uses the caller's default learning language
                    (profiles.target_language, as returned in /auth/me), then English if unset.
      responses:
        '202':
          description: Accepted — a new pending request was created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/GenerationRequest' }
        '200':
          description: The request already existed for this client id (idempotent repeat)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/GenerationRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: The client id is already in use by another user (code `generation_id_conflict`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429':
          description: Daily generation quota reached (code `generation_quota_exceeded`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /generations/{id}:
    get:
      tags: [Generation]
      summary: Poll a generation request (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/GenerationRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found (or not the owner) }

  /terms/{id}/regenerate-example:
    post:
      tags: [Generation]
      summary: Generate a fresh example for a term ("New example")
      description: >
        The LLM produces a new example (different from the current one) and its translation, which
        replace the term's stored example. Counts as one generation against the daily quota (429 when
        exhausted). Returns the new example so the client can update the card in place.
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      example: { type: string }
                      example_translation: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Unknown term }
        '429': { $ref: '#/components/responses/Problem' }

  /practice/dialogs:
    post:
      tags: [Practice]
      summary: Start a realtime conversation-practice dialog (premium)
      description: >
        Premium-only. Assembles a lesson from the collection (topic, CEFR level, the collection's
        source/target languages, up to 8 prioritised target words) and mints an ephemeral OpenAI
        realtime token. The app then streams audio directly to OpenAI over WebRTC — audio never
        transits this server. The session duration equals the token TTL (default 200s). This is
        practice: it never writes reviews or progress. Send a client-generated ULID (`client_id`)
        so a retry of a still-live dialog is idempotent (re-mints a token, no extra quota).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collection_id, client_id]
              properties:
                collection_id: { type: string, minLength: 26, maxLength: 26 }
                client_id: { type: string, minLength: 26, maxLength: 26, description: Client-generated ULID — the dialog id. }
      responses:
        '201':
          description: Dialog started
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StartedPracticeDialog' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Premium subscription required (code `subscription_required`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404': { description: Collection not found (or not the owner) }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429':
          description: >
            Daily practice-dialog limit reached (code `practice_dialogs_quota_exceeded`);
            `meta.resets_at` is the absolute reset instant, `meta.limit` the daily cap.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /practice/dialogs/{id}/transcripts:
    post:
      tags: [Practice]
      summary: Append transcript events and get target-word coverage
      description: >
        Append-only and idempotent by (role, ts): re-uploading a batch stores only new lines. Returns
        the up-to-date coverage of the dialog's target words (`used` is monotonic).
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [role, text, ts]
                    properties:
                      role: { type: string, enum: [user, assistant] }
                      text: { type: string, maxLength: 4000 }
                      ts: { type: integer, minimum: 0, description: Client line timestamp (ms). }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  target_words:
                    type: array
                    items: { $ref: '#/components/schemas/PracticeTargetWord' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Dialog not found (or not the owner) }
        '422': { $ref: '#/components/responses/ValidationError' }

  /practice/dialogs/{id}/finish:
    post:
      tags: [Practice]
      summary: Finish a dialog and get a native-language recap
      description: >
        Records the estimated realtime spend and returns a short recap written in the collection's
        source (native) language, plus how many target words were used. Idempotent.
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary: { type: string }
                  words_used: { type: integer }
                  words_total: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Dialog not found (or not the owner) }

  /practice/collections/{collectionId}/last-dialog:
    get:
      tags: [Practice]
      summary: The result of the collection's most recent concluded practice dialog
      description: >
        Returns the last finished OR expired dialog for the collection (an early exit is still a
        result). 404 when the user has never had one. Owner-scoped. `summary` is null for a dialog
        that only expired (no recap was generated); `finished_at` is null only for legacy rows.
      parameters:
        - { name: collectionId, in: path, required: true, schema: { type: string, minLength: 26, maxLength: 26 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  finished_at: { type: string, format: date-time, nullable: true }
                  words_used: { type: integer }
                  words_total: { type: integer }
                  summary: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No concluded dialog for this collection (or not the owner) }

  /store/collections:
    get:
      tags: [Store]
      summary: Browse the store — public + system collections for a language pair
      description: >
        Ordered by `topic` so the client can render sections, keyset-paginated on `(topic, id)`.
        Each row carries `is_premium` (badge + subscribe gate) and `is_subscribed`.
      parameters:
        - { name: source_lang, in: query, required: false, schema: { type: string, default: ru } }
        - { name: target_lang, in: query, required: false, schema: { type: string, default: en } }
        - { name: cursor, in: query, required: false, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 30 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/StoreCollection' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /store/collections/{id}/preview:
    get:
      tags: [Store]
      summary: Preview a store collection — first few terms + total
      description: >
        A free taster shown before subscribing: up to 5 terms (learned form + native translation)
        and the collection's total item count. Available to everyone, including free users looking at
        a premium collection — the premium gate is only on adding. A private/non-store id 404s.
      parameters:
        - { $ref: '#/components/parameters/UlidId' }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 20, default: 5 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/StoreCollectionPreview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not a store collection (private/custom or unknown) }

  /store/collections/{id}/subscribe:
    post:
      tags: [Store]
      summary: Add a store collection to the library (idempotent)
      description: >
        Idempotent — a repeat subscribe returns 200 and adds no duplicate. A premium collection
        requires a premium tier, otherwise 403 `subscription_required`. A private/non-store id 404s.
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      responses:
        '200':
          description: Subscribed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      collection_id: { type: string }
                      subscribed: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
    delete:
      tags: [Store]
      summary: Remove a store collection from the library (idempotent)
      parameters: [{ $ref: '#/components/parameters/UlidId' }]
      responses:
        '200':
          description: Unsubscribed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      collection_id: { type: string }
                      subscribed: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /search:
    get:
      tags: [Search]
      summary: Search the terms that already exist (free, instant)
      description: >
        Exact and prefix matches over the term's own text and over its translations in the learner's
        language, ranked exact-term → exact-translation → prefix-term → prefix-translation. Costs
        nothing and touches no model, so it is safe to call on a debounced keystroke. Every hit says
        which of the CALLER'S OWN folders already hold it (`folders`), which is what lets the save
        button tell the truth. Deliberately not fuzzy: the question is «do we already have the word
        you typed», and a plausible near-miss would stop the learner generating the word they meant.
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 50, default: 20 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SearchHit' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /search/instant:
    get:
      tags: [Search]
      summary: The grey hint line — one word, one translation, as fast as it can be had
      description: >
        A first, cheap guess at what a word means, shown while the learner is still typing. It does
        NOT replace `POST /search/lookup`: that one writes the card (translation, description,
        example, level, image query) with a model that knows the content rules; this one is a
        garnish and never becomes card content.

        THREE RUNGS, each reached only because the one above had nothing: (1) our own catalogue —
        free, and the exact string the card will show if the word is saved; (2) the shared cache —
        bought once by whoever typed the word first, free for everybody after; (3) the vendor. On a
        debounced field the same few hundred words are typed over and over, so rungs 1–2 answer
        almost everything.

        ALWAYS 200, always the same shape. There is no failure here worth interrupting somebody who
        is typing: no key (`feature_disabled`), no budget (`limit_reached`), a dead or slow vendor,
        or simply no answer all come back as a null `translation`. The client renders a line when
        there is one and nothing when there is not — it has no error path at all.
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
      responses:
        '200':
          description: A hint, or an honest nothing
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      query: { type: string, description: the normalized query the answer is about }
                      translation: { type: string, nullable: true }
                      source:
                        type: string
                        nullable: true
                        enum: [vocabulary, cache, deepl]
                        description: >
                          Which rung answered. INTERNAL — the client does not show it; where a
                          translation came from is the app's business, not the learner's.
                      feature_disabled: { type: boolean, description: no translation provider is configured }
                      limit_reached: { type: boolean, description: the month's character budget is spent }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /search/lookup:
    post:
      tags: [Search]
      summary: Look one word up with the model (paid, capped, cached forever)
      description: >
        ONE call to the cheap model for a word the database does not have. A POST the learner taps —
        never something a debounce fires — because it spends money.

        The order is cache → cap → call. A cached answer is served FREE and does not consult the cap
        at all: the answer is a fact about the word, not about who asked, so the second person to
        type it (and the same person tomorrow) pays nothing. Only a genuine miss counts against
        `SEARCH_LOOKUP_DAILY_CAP` (default 30/user/day).

        A spent cap is a **200**, not a 429: `limit_reached: true`, `lookup: null`. It is a normal
        answer the app has a screen for — the client shows the free `/search` results beside it.

        The term is NOT created. It appears only when the learner explicitly saves it via
        `/search/add`, which is what keeps the catalogue free of words nobody wanted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string, minLength: 1, maxLength: 100 }
      responses:
        '200':
          description: An answer, or an honest «not today»
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lookup:
                        allOf: [{ $ref: '#/components/schemas/LookupCard' }]
                        nullable: true
                      limit_reached: { type: boolean }
                      daily_cap: { type: integer }
                      used_today: { type: integer, description: paid lookups this UTC day }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422':
          description: >
            Either the input (`code: validation_error`) or the ANSWER (`code: lookup_refused`,
            `meta.reason` = `wrong_language` | `description_gives_away` | `empty_query` |
            `model_unavailable`). There is no repair pass: a lookup is a person watching a spinner,
            and a second call to fix the first would double both the wait and the cost.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /search/add:
    post:
      tags: [Search]
      summary: Save a search result — term, folder, POOL
      description: >
        Names either `lookup_id` (a freshly looked-up word: the cached answer becomes a term, with
        its description) or `term_id` (a word the database already had) — never both. `collection_id`
        omitted means «Сохранённые», created on the spot if this is the first save.

        It ENROLS the word. That obeys the pool rule rather than bending it: going looking for a
        word, typing it out and reading its card is as deliberate an act as «Учить это слово», and
        it is the same door. What the rule forbids is enrolling by side effect, which this is not.
        The enrichment станок is chained exactly as it is after a generation (`GENERATION_AUTO_ENRICH`).

        Idempotent throughout — the term dedups on its normalized text, the folder add is a no-op
        when the word is already there, the description is write-once, and re-enrolling an enrolled
        pair changes neither its rung nor its due date. `added`/`enrolled` say what actually happened.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lookup_id: { type: string, minLength: 26, maxLength: 26 }
                term_id: { type: string, minLength: 26, maxLength: 26 }
                collection_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
              oneOf:
                - required: [lookup_id]
                - required: [term_id]
      responses:
        '201':
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      term_id: { type: string }
                      collection_id: { type: string }
                      collection_title: { type: string, description: the folder's CURRENT name — the learner may have renamed it }
                      collection_is_default: { type: boolean }
                      added: { type: boolean, description: false when the word was already in this folder }
                      enrolled: { type: boolean, description: false when the pair was already in the pool }
        '403':
          description: The folder is not the caller's (code `collection_not_editable`) — nothing is enrolled
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: No such cached lookup (code `lookup_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /collections:
    get:
      tags: [Collections]
      summary: List the user's collections (cursor-paginated, newest first)
      parameters:
        - { name: cursor, in: query, required: false, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 30 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CollectionSummary' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Collections]
      summary: Create a custom collection
      description: Accepts a client-generated `id` (ULID) for offline idempotency; re-sending the same id does not duplicate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                id: { type: string, minLength: 26, maxLength: 26 }
                title: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string, maxLength: 2000, nullable: true }
                source_lang: { type: string, minLength: 2, maxLength: 5 }
                target_lang: { type: string, minLength: 2, maxLength: 5 }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /collections/default:
    get:
      tags: [Collections]
      summary: The user's «Сохранённые» folder, created on first ask
      description: >
        The personal folder a one-tap save from search lands in. Created LAZILY — a learner who never
        saves anything never gets an empty folder on their shelf — so this GET may write. There is
        exactly one per owner (a partial unique index says so, not just the handler); it is an
        ordinary custom collection in every other respect, may be renamed, and can never be deleted
        (`is_default: true`, DELETE answers 409 `collection_not_deletable`).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /collections/{id}:
    get:
      tags: [Collections]
      summary: Show a collection with its items (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found (or not the owner) }
    patch:
      tags: [Collections]
      summary: Update title/description (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string, maxLength: 2000, nullable: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: Not found (code `collection_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Collections]
      summary: Soft-delete a collection (owner only)
      description: >
        Deliberately shallow: the words stay in the pool with their rung, their due date and their
        whole append-only review history. A folder is a shelf, not the queue — the only way out of
        the pool is «убрать из тренировки» (DELETE /pool/terms/{termId}).
      parameters:
        - $ref: '#/components/parameters/UlidId'
      responses:
        '204': { description: Deleted }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: Not found (code `collection_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409':
          description: The «Сохранённые» folder cannot be deleted (code `collection_not_deletable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /collections/{id}/items:
    post:
      tags: [Collections]
      summary: Add a word to a collection (owner only)
      description: >
        Found-or-creates the term in Vocabulary, then attaches it. Idempotent — adding the same word
        twice is a no-op. Returns the refreshed collection. `translation` is optional: when omitted,
        the term is created bare and enriched asynchronously (translation, transcription, example and
        a stock photo are filled in from the LLM + Pexels), so images/translation appear via a later
        `/sync`.
      parameters:
        - $ref: '#/components/parameters/UlidId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                term_id:
                  type: string
                  minLength: 26
                  maxLength: 26
                  description: >
                    Put an EXISTING term in this folder (found by search, or sitting in another
                    folder). Nothing is created. Mutually exclusive with `text`.
                text: { type: string, minLength: 1, maxLength: 200 }
                translation: { type: string, maxLength: 500, nullable: true, description: Optional; omit to have it auto-enriched. }
                type: { type: string, enum: [word, phrase, idiom, phrasal_verb] }
              oneOf:
                - required: [term_id]
                - required: [text]
      responses:
        '201':
          description: Word added
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /collections/{id}/items/{termId}/move:
    post:
      tags: [Collections]
      summary: Move a term to another of the user's own folders
      description: >
        One command rather than remove+add from the client, so the two halves cannot half-happen
        offline and leave the word in neither folder. BOTH ends are ownership-checked before anything
        is written. Idempotent — replaying the same move changes nothing. The pool is untouched.
      parameters:
        - $ref: '#/components/parameters/UlidId'
        - { name: termId, in: path, required: true, schema: { type: string, minLength: 26, maxLength: 26 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to_collection_id]
              properties:
                to_collection_id: { type: string, minLength: 26, maxLength: 26 }
      responses:
        '204': { description: Moved }
        '403':
          description: One of the two folders is not the actor's (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: Either folder not found (code `collection_not_found`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /collections/{id}/items/{termId}:
    delete:
      tags: [Collections]
      summary: Remove a term from a collection (owner only)
      parameters:
        - $ref: '#/components/parameters/UlidId'
        - { name: termId, in: path, required: true, schema: { type: string, minLength: 26, maxLength: 26 } }
      responses:
        '204': { description: Removed }
        '403':
          description: Not the owner (code `collection_not_editable`)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /study/sessions:
    post:
      tags: [Study]
      summary: Build a self-contained study session (due then new cards, one card per exercise)
      description: >-
        Assembles a ready-to-play session: due cards first (state <> new, by due date), then new
        cards up to the day's remaining new-term quota (one global quota — a scoped session does
        not multiply it). Each card carries its exercise mode, chosen from the term's reps and answer
        shape: reps 0 → multiple_choice; reps ≥ 1 → a production rotation that leads with the base
        (word_bank for multi-word / typing for single-word) then fans out to listening (hear it, type
        it) and cloze (fill the blank in the term's own example); review rotates typing/listening/cloze;
        known → typing. cloze is only offered when the example contains the answer (the client blanks
        that span from `example`). The card also carries the prompt (user's language), the answer
        (target language) and mode-specific extras — shuffled options for multiple_choice, shuffled
        chips for word_bank — so the client runs it offline.
        The session's composition is fixed server-side under the returned session_id. A practice
        session (practice=true) instead draws EVERY term in scope ignoring due_at, state and the
        daily quota (device-batch F17): free training on demand. It introduces nothing and never
        schedules; its answers are recorded with is_practice but do not move progress.
        What "in scope" means depends on collection_id, and the two answers differ on purpose.
        WITHOUT one, the scope is the learner's POOL — the words they chose to study. WITH one, the
        scope is the WHOLE COLLECTION, including terms that are not in the pool: the learner pointed
        at a topic and asked to drill it, so an untriaged collection is playable («зашёл в кафе,
        открыл тему»). Terms in the pool lead the session and are dealt by their own rung; terms
        outside it follow, and are dealt only the trainers the admission matrix opens at the
        assembly rung — multiple_choice and the assembly modes, never typing, listening or
        dictation. Reaching such a term enrols nothing: it is still outside the pool afterwards, and
        a study session over the same collection is unchanged.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                collection_id: { type: string, minLength: 26, maxLength: 26, nullable: true, description: Scope to one owned collection }
                limit: { type: integer, minimum: 1, maximum: 100, default: 20 }
                practice: { type: boolean, default: false }
                session_id: { type: string, minLength: 26, maxLength: 26, nullable: true, description: Client-generated ULID (idempotent) }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      session_id: { type: string }
                      cards:
                        type: array
                        items: { $ref: '#/components/schemas/SessionCard' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /study/sessions/{sessionId}/complete:
    post:
      tags: [Study]
      summary: Close a study run the learner played to its summary screen
      description: >-
        Stamps `ended_at` and a compact `stats` summary on the session, which is what makes a played
        run distinguishable from an abandoned one (before this there was no writer for the column at
        all, so every row looked abandoned). The summary — cards answered, of those correct
        (`reviews.is_correct`, i.e. anything but `again`), and intros shown — is RECOMPUTED from the
        session's own append-only logs, never taken from the client: the only thing the client
        supplies is when the learner finished, because the run may well have ended offline.
        Nothing here touches progress or scheduling; the answers were folded when they were uploaded.
        Idempotent and never an error: the client sends this through the same offline queue its
        answers ride, so a re-send, another user's session, an unknown id and a run that answered
        nothing all return 200 with `completed: false`. An abandoned run is deliberately left open
        rather than closed with a row of zeroes — `ended_at IS NULL` is then the true statement
        about it.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ended_at:
                  type: string
                  format: date-time
                  nullable: true
                  description: When the learner finished. Omitted means now.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      completed:
                        type: boolean
                        description: Whether THIS call is the one that closed the session.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /study/progress:
    get:
      tags: [Study]
      summary: Per-collection learning progress (derived, not stored)
      description: >-
        For each of the user's own collections: total, new, due, and mastered counts, with
        mastered broken into confirmed (proven by exercises) vs familiar (marked known) and the
        rest in progress. Computed by folding the (user, term) progress over collection membership.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CollectionProgress' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /reviews/batch:
    post:
      tags: [Study]
      summary: Upload a session's events — answers (server-graded) and intros
      description: >
        Offline-friendly: up to 200 answers with client-generated ULIDs. The client sends the
        RAW answer (response text, mode, latency, hint) — the SERVER grades it, so the grading
        rule lives in one place. Re-sending an id is a duplicate, not an error; an answer for an
        unknown term is skipped. A practice answer (is_practice) is recorded but never schedules.


        A batch also carries `exposures`: INTRO cards, which were shown and asked nothing. They
        are a separate list because they are not answers — they produce no grade and are never
        written to the review log, which holds real retrievals only. At least one of the two
        lists must be present; an intro-only batch is the normal shape of a first session with a
        brand-new collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                exposures:
                  type: array
                  maxItems: 200
                  description: >-
                    Intro cards shown. Identified by the PAIR (user, term), not by an event id:
                    a term is introduced once, so a re-uploaded exposure is an ignored insert
                    that keeps the first `shown_at` — no client ULID is needed to make it safe.
                    Recording one moves the pair from ladder rung 0 to rung 1 and writes no
                    scheduling field. Naming a session the server has never seen adopts it as an
                    offline practice run, exactly as an answer does; if it cannot be adopted the
                    exposure is still recorded, without the session.
                  items:
                    type: object
                    required: [term_id, shown_at]
                    properties:
                      term_id: { type: string, minLength: 26, maxLength: 26 }
                      shown_at: { type: string, format: date-time }
                      session_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
                reviews:
                  type: array
                  maxItems: 200
                  items:
                    type: object
                    required: [id, term_id, exercise_mode, response, answered_at, client_seq]
                    properties:
                      id: { type: string, minLength: 26, maxLength: 26 }
                      term_id: { type: string, minLength: 26, maxLength: 26 }
                      exercise_mode: { type: string, enum: [multiple_choice, word_bank, typing, listening, cloze, scramble, dictation, pick_correct, speaking, description_match] }
                      response: { type: string, description: The user's raw answer text }
                      answered_at:
                        type: string
                        format: date-time
                        description: >-
                          Reference-only (device clock). NOT used to order the fold — see client_seq.
                      client_seq:
                        type: integer
                        minimum: 0
                        description: >-
                          Per-user monotonic sequence assigned by the client at answer time,
                          surviving queue clears. The server folds answers into progress in
                          client_seq order (not answered_at, a device clock that can lag). Must
                          be strictly increasing per user across the whole history; initialise
                          from GET /auth/me `max_review_seq` after a reinstall.
                      used_hint: { type: boolean, default: false }
                      is_practice: { type: boolean, default: false }
                      latency_ms:
                        type: integer
                        minimum: 0
                        nullable: true
                        description: >-
                          Client-measured, from the card's paint to the answer. Optional: null
                          means unmeasured (treated neutrally). Do NOT send 0 for an unmeasured
                          answer — send null.
                      session_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
                      ladder_step:
                        type: integer
                        minimum: 1
                        maximum: 5
                        nullable: true
                        description: >-
                          The rung of the acquisition ladder the card was dealt at, echoed from
                          the card. Required for rung 1 (forward recognition), which is graded by
                          IDENTITY: the learner taps an option and the client uploads that
                          option's TERM ID as `response`, so the key is an id and no translation
                          ever enters an answer key. The pair's rung moves as this answer is
                          folded, which is why the card has to say what it asked. 0 is not valid
                          here — that is the intro, which belongs in `exposures`.
      responses:
        '200':
          description: Applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accepted: { type: integer }
                      duplicates: { type: integer }
                      unknown: { type: integer }
                      exposures:
                        type: integer
                        description: >-
                          Intro cards newly recorded. Counted apart from `accepted` because they
                          are not answers; a re-upload reports 0 here and changes nothing.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /stats:
    get:
      tags: [Study]
      summary: Training dashboard stats
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Stats' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /triage/queue:
    get:
      tags: [Study]
      summary: The first-pass swipe queue for one collection (not-yet-triaged, not-yet-studied terms)
      description: >-
        A collection's terms that have neither a progress row nor a triage record, capped at
        limit. Content is included so the whole batch can be swiped offline. Excluding
        already-triaged terms is what stops a term from being asked twice, even when an
        "unknown" swipe leaves it new. The response is an envelope: `cards` plus `remaining`,
        the count of eligible terms beyond this page.
      parameters:
        - name: collection_id
          in: query
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 40, default: 40 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [cards, remaining]
                    properties:
                      cards:
                        type: array
                        items: { $ref: '#/components/schemas/TriageCard' }
                      remaining:
                        type: integer
                        minimum: 0
                        description: >-
                          Eligible (not-yet-triaged, not-yet-studied) terms left AFTER this page —
                          i.e. what subsequent GETs will still serve, NOT the collection's total
                          new-term count. Lets the client show honest progress ("N more after
                          sync") without diverging from the real queue. 0 means this is the last page.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /triage/batch:
    post:
      tags: [Study]
      summary: Upload a batch of triage swipes (idempotent by triage id)
      description: >-
        A swipe is a self-assessment, kept out of the review log. Projects onto (user, term)
        progress, and decides POOL MEMBERSHIP: `unknown` → a rung-0 row, enrolled; `unsure` →
        the first recognition rung, enrolled; `known` → a `known` row with a verification check,
        NOT enrolled (on an untaught word this supersedes an earlier enrolment). A pair that has
        actually been taught is never rewritten by a swipe — it is only enrolled. Re-sending an
        id is a duplicate, not an error; a swipe for an unknown term is skipped.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [triages]
              properties:
                triages:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [id, term_id, verdict, decided_at, client_seq]
                    properties:
                      id: { type: string, minLength: 26, maxLength: 26 }
                      term_id: { type: string, minLength: 26, maxLength: 26 }
                      verdict: { type: string, enum: [known, unknown, unsure] }
                      decided_at:
                        type: string
                        format: date-time
                        description: >-
                          Reference-only (device clock). NOT used to decide the current verdict —
                          see client_seq.
                      client_seq:
                        type: integer
                        minimum: 0
                        description: >-
                          Per-user monotonic sequence assigned by the client at swipe time,
                          surviving queue clears. The current verdict for a (user, term) is the
                          one with the greatest client_seq (not the latest decided_at, a device
                          clock that can lag and roll back a genuinely-later verdict). Must be
                          strictly increasing per user across the whole history; initialise from
                          GET /auth/me `max_triage_seq` after a reinstall.
                      collection_id: { type: string, minLength: 26, maxLength: 26, nullable: true }
                      latency_ms:
                        type: integer
                        minimum: 0
                        nullable: true
                        description: >-
                          Client-measured, from the card's paint to the FIRST event (flip or swipe,
                          whichever comes first). Optional: null means unmeasured (treated neutrally
                          — never risky). Do NOT send 0 for an unmeasured swipe — send null.
                          (Risk-by-latency applies to phrases only.)
                      revealed:
                        type: boolean
                        nullable: true
                        description: >-
                          Whether the learner flipped the card (revealing the translation/example)
                          before deciding. A `known` verdict reached after peeking is a weaker
                          signal — recognition of a hint, not recall — so it drives an early
                          verification check, on par with a too-fast swipe. Null/false = no peek
                          (neutral); applies to words and phrases alike.
      responses:
        '200':
          description: Applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accepted: { type: integer }
                      duplicates: { type: integer }
                      unknown: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /pool/terms/{termId}:
    put:
      tags: [Study]
      summary: Put a term into the learner's pool («Учить это слово»)
      description: >-
        THE POOL is the learner's own list of words being studied — the queue, as opposed to the
        catalogue their collections are. STUDY sessions are assembled from it and from nothing else,
        so a word is TAUGHT only after a deliberate act: this endpoint, or a `не знаю` / `не уверен`
        triage swipe. (Free practice scoped to a collection may DRILL a word outside the pool — see
        POST /study/sessions — but it moves nothing and never enrols.)

        Idempotent. The pair's row is created if the learner has never met the word; if it is
        already in the pool nothing is written, and the ORIGINAL enrolment moment is kept. A pair
        that was paused and is being brought back resumes at the rung, counter and due date it left
        with — none of them is touched here.

        There is no GET: the device reads its pool from its own mirror, which `/sync` keeps fresh
        (`enrolled_at` rides every progress row).
      parameters:
        - name: termId
          in: path
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
      responses:
        '200': { $ref: '#/components/responses/PoolMembership' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not a term id }

    delete:
      tags: [Study]
      summary: Take a term out of the learner's pool («Убрать из изучения»)
      description: >-
        A PAUSE, not an erasure. `enrolled_at` is cleared and nothing else changes: the append-only
        review log, the acquisition rung, the successful-review counter and the SM-2 schedule all
        stand, so re-enrolling continues from exactly where the word was left. Idempotent — a pair
        that is not in the pool answers 200 with `changed: false`.
      parameters:
        - name: termId
          in: path
          required: true
          schema: { type: string, minLength: 26, maxLength: 26 }
      responses:
        '200': { $ref: '#/components/responses/PoolMembership' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not a term id }

  /sync/cursor:
    get:
      tags: [Study]
      summary: The client_seq high-water mark per log
      description: >-
        Greatest client_seq the server holds for this user, per append-only log. Clients seed
        their monotonic client_seq counter from here on login, so a reinstall (counter reset) or
        a second device does not emit sequences that would lose to already-stored rows. Values
        are 0 when a log is empty. (Delta sync, GET /sync?since=, will grow alongside this.)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      max_triage_seq: { type: integer, minimum: 0 }
                      max_review_seq: { type: integer, minimum: 0 }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /sync:
    get:
      tags: [Study]
      summary: Delta sync — changes to mirror into the client's local database
      description: >-
        The offline feed. The client mirrors collections, items, terms (with content) and progress
        into a local DB and reads every screen from there; this endpoint only refreshes it.


        Send `since` = the `server_time` from your last completed sync (NOT the device clock — it
        drifts). Omit `since` for the first, full snapshot after install. Page with `next_cursor`
        (opaque) until `has_more` is false, then store the new `server_time` as your next `since`.


        `since` is INCLUSIVE: timestamps are second-precision, so the boundary second is re-sent
        to guarantee no change is ever missed. Apply changes idempotently by id (last-write-wins by
        `updated_at`) — re-applying a row you already have is a no-op. Deletions arrive as
        `op: "delete"` tombstones (collection soft-delete, item soft-delete) so ghosts don't linger;
        a full snapshot (no `since`) omits deletes. Only terms in the user's own collections are
        synced — never the global dictionary.
      parameters:
        - name: since
          in: query
          required: false
          schema: { type: string, format: date-time }
          description: A prior response's server_time. Inclusive. Omit for a full snapshot.
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "Opaque, from a previous page's next_cursor." }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 1000, default: 500 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [server_time, has_more, changes]
                    properties:
                      server_time: { type: string, format: date-time, description: Store as the next `since` once has_more is false. }
                      next_cursor: { type: string, nullable: true, description: Pass back verbatim while has_more is true. }
                      has_more: { type: boolean }
                      settings:
                        type: object
                        description: >
                          The user's settings, sent whole on every page rather than diffed — they are
                          tiny, and a missed delta would strand a client on stale settings.
                        properties:
                          exercise_modes:
                            type: array
                            description: >
                              The trainers this user has switched on, IN ROTATION ORDER (their own
                              override, or the product default). The client mirrors this into its
                              offline practice builder, so a toggle takes effect on the next sync.
                            items: { type: string, enum: [multiple_choice, word_bank, typing, listening, cloze, scramble, dictation, pick_correct, speaking, description_match, intro] }
                          mode_admission:
                            type: array
                            description: >
                              The ACQUISITION LADDER matrix: which rung opens which trainer, and
                              where that trainer's options come from. Rides along for the same
                              reason as the toggles — the device builds sessions offline, so it
                              needs to know not only which trainers exist but which of them this
                              pair has earned. Stored per user with the same override mechanism
                              as the toggles.
                            items:
                              type: object
                              properties:
                                mode: { type: string }
                                min_acquisition: { type: string, enum: [new, learning, graduated] }
                                min_learning_step: { type: integer, minimum: 0, maximum: 2, nullable: true }
                                min_reps:
                                  type: integer
                                  minimum: 0
                                  nullable: true
                                  description: Reviews since GRADUATION, not since the first meeting.
                                options_policy:
                                  type: string
                                  enum: [distant, standard]
                                  description: >-
                                    `distant` = wrong options are the session's own neighbours,
                                    unmistakably different, which is what makes a first meeting
                                    winnable. `standard` = the enrichment distractors, which are
                                    nearly right and are the exercise once the word is known. A
                                    graduated pair always gets `standard`.
                                min_step:
                                  type: integer
                                  minimum: 0
                                  maximum: 5
                                  description: >-
                                    The three thresholds resolved to a rung. Sent as well as them
                                    so the client filters by rung without re-implementing the
                                    ladder function.
                      changes:
                        type: object
                        properties:
                          collections:
                            type: array
                            items:
                              type: object
                              description: 'op=upsert carries the fields; op=delete carries id + updated_at only.'
                              properties:
                                id: { type: string }
                                op: { type: string, enum: [upsert, delete] }
                                updated_at: { type: string, format: date-time }
                                title: { type: string, nullable: true }
                                description: { type: string, nullable: true }
                                topic: { type: string, nullable: true }
                                source_lang: { type: string, nullable: true }
                                target_lang: { type: string, nullable: true }
                                items_count: { type: integer }
                                source: { type: string, nullable: true, enum: [curated, ai, user], description: 'origin; drives the client badge' }
                                type: { type: string, nullable: true, enum: [system, shared, custom], description: 'my / store / generated distinction' }
                                image_url: { type: string, nullable: true, description: 'Pexels cover; null = none, show a placeholder' }
                                image_author: { type: string, nullable: true, description: 'photographer credit (Pexels licence)' }
                                image_author_url: { type: string, nullable: true, description: 'link to the photographer' }
                                is_default: { type: boolean, description: 'the owner\'s «Сохранённые» folder — one per owner, undeletable' }
                          collection_items:
                            type: array
                            items:
                              type: object
                              properties:
                                collection_id: { type: string }
                                term_id: { type: string }
                                op: { type: string, enum: [upsert, delete] }
                                updated_at: { type: string, format: date-time }
                                position: { type: integer }
                                note: { type: string, nullable: true }
                          terms:
                            type: array
                            items:
                              type: object
                              description: Content for the offline card; audio is optional (system TTS works offline).
                              properties:
                                id: { type: string }
                                op: { type: string, enum: [upsert] }
                                updated_at: { type: string, format: date-time }
                                text: { type: string, nullable: true }
                                type: { type: string, enum: [word, phrase, idiom, phrasal_verb], nullable: true }
                                transcription: { type: string, nullable: true }
                                translation: { type: string, nullable: true }
                                example: { type: string, nullable: true }
                                example_translation: { type: string, nullable: true }
                                description:
                                  type: string
                                  nullable: true
                                  description: >
                                    What the word MEANS, in the language BEING LEARNED — the whole question of a
                                    `description_match` card. It rides the mirror rather than only the card because
                                    the device builds its own practice sessions offline. Null on content written
                                    before descriptions existed (the store catalogue), which is not being backfilled;
                                    the trainer refuses such a term by content, like every other trainer.
                                image_url: { type: string, nullable: true, description: 'Pexels photo; null = none, show a placeholder' }
                                image_author: { type: string, nullable: true, description: 'photographer credit (Pexels licence)' }
                                image_author_url: { type: string, nullable: true, description: 'link to the photographer' }
                                accepted_variants:
                                  type: array
                                  description: >
                                    Extra CORRECT answers for this term, beyond `text` (e.g. this/that, may/can,
                                    colour/color). The client grades typed answers offline against
                                    `{text} ∪ accepted_variants` — the same set the server grades against, so the
                                    device is never stricter than the server. Empty when the term has none.
                                  items: { type: string }
                                example_distractors:
                                  type: array
                                  description: >
                                    Deliberately WRONG versions of `example`, each with its error typed and located.
                                    Mirrored ahead of the trainer that consumes them; no client feature reads these yet.
                                  items:
                                    type: object
                                    properties:
                                      sentence: { type: string }
                                      error_type: { type: string, enum: [article, preposition, tense, word_order, false_friend, modal_to] }
                                      error_span: { type: string, description: 'the wrong fragment, verbatim from `sentence`' }
                                      correction: { type: string }
                          progress:
                            type: array
                            items:
                              type: object
                              properties:
                                term_id: { type: string }
                                op: { type: string, enum: [upsert] }
                                updated_at: { type: string, format: date-time }
                                state:
                                  type: string
                                  enum: [new, learning, review, relearning, known]
                                  description: >-
                                    The SCHEDULER's dimension — WHEN the pair comes back. Says
                                    nothing about what it comes back as; see `acquisition`.
                                ease_factor: { type: number }
                                interval_days: { type: integer }
                                due_at: { type: string, format: date-time, nullable: true }
                                reps: { type: integer }
                                lapses: { type: integer }
                                last_reviewed_at: { type: string, format: date-time, nullable: true }
                                acquisition:
                                  type: string
                                  enum: [new, learning, graduated]
                                  description: >-
                                    The ACQUISITION LADDER's dimension — WHAT the pair comes back
                                    as. Orthogonal to `state`: the scheduler never reads it and it
                                    never reads the scheduler. `new` = never shown (its first card
                                    is the intro); `learning` = working through the two recognition
                                    steps, which log answers but schedule nothing; `graduated` =
                                    off the recognition rungs, where ordinary SRS runs and the rung
                                    widens with `successful_reviews`.
                                learning_step:
                                  type: integer
                                  minimum: 0
                                  maximum: 2
                                  description: >-
                                    The rung while `acquisition` is `learning`. Not derivable from
                                    any counter: a FAILED recognition step is re-queued as the same
                                    step but is still logged, so anything derived from the log would
                                    push the pair up a rung it has not earned. Combine with
                                    `acquisition` and `successful_reviews` through the shared ladder
                                    function to get the rung.
                                successful_reviews:
                                  type: integer
                                  minimum: 0
                                  description: >-
                                    Correct non-practice reviews since the pair graduated — what the
                                    ladder's rungs above assembly (typing, dictation) are counted in.
                                    Deliberately NOT `reps`, which counts how many times the
                                    scheduler was CALLED, `again` included: reading the rung off
                                    `reps` promoted words the learner had only ever got wrong, since
                                    a miss re-schedules the pair immediately. Grows on a correct
                                    answer (`hard` included) and never decreases — a rung, once
                                    earned, is not taken back.
                                enrolled_at:
                                  type: string
                                  format: date-time
                                  nullable: true
                                  description: >-
                                    POOL MEMBERSHIP — a third dimension, independent of the two
                                    above: not when the pair comes back, nor as what, but WHETHER
                                    it comes back at all. Non-null = the learner is studying this
                                    word and sessions may deal it; null = it is in the catalogue
                                    only (never taken into study, marked `знаю`, or paused with
                                    «Убрать из изучения»). Null is not a tombstone — the row and its
                                    whole history stay, which is what makes a pause undoable. The
                                    device mirrors it because «Мои слова» and its offline session
                                    builder both read the pool from the local database.
                          triages:
                            type: array
                            description: >-
                              Governing triage verdict per term (greatest client_seq). Append-only,
                              so always op=upsert (no tombstone). The client upserts these into its
                              local triage marker so a sign-out wipe + re-login can't resurrect an
                              `unknown` swipe (which writes no progress row) in the deck.
                            items:
                              type: object
                              properties:
                                term_id: { type: string }
                                op: { type: string, enum: [upsert] }
                                updated_at: { type: string, format: date-time, description: 'server receipt time of the governing swipe' }
                                verdict: { type: string, enum: [known, unknown, unsure] }
                                client_seq: { type: integer }
                                collection_id: { type: string, nullable: true, description: 'where the swipe came from (informational)' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    UlidId:
      name: id
      in: path
      required: true
      schema: { type: string, minLength: 26, maxLength: 26 }

  responses:
    Unauthorized:
      description: Missing or invalid bearer token
    Problem:
      description: RFC 7807 problem
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    PoolMembership:
      description: The pair's pool membership after the call
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                required: [term_id, enrolled, changed]
                properties:
                  term_id: { type: string, minLength: 26, maxLength: 26 }
                  enrolled:
                    type: boolean
                    description: Where the pair now stands — true after PUT, false after DELETE.
                  changed:
                    type: boolean
                    description: >-
                      Whether THIS call moved anything. False for a replayed request from an
                      offline queue, which is an ordinary outcome rather than an error.
    ValidationError:
      description: Input validation failed (Laravel shape)
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
              errors:
                type: object
                additionalProperties:
                  type: array
                  items: { type: string }

  schemas:
    Problem:
      type: object
      description: RFC 7807 with a stable machine `code`.
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        code: { type: string }
        detail: { type: string }
        meta: { type: object, additionalProperties: true }
      required: [title, status, code]

    PageMeta:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }
        has_more: { type: boolean }
      required: [has_more]

    PracticeTargetWord:
      type: object
      description: A word the learner should use during the dialog, and whether they have yet.
      properties:
        term_id: { type: string }
        text: { type: string }
        used: { type: boolean, description: "Monotonic — once used, stays used." }
      required: [term_id, text, used]

    StartedPracticeDialog:
      type: object
      description: The started dialog — the provider, ephemeral token, endpoint, model, and target words.
      properties:
        dialog_id: { type: string }
        provider: { type: string, enum: [openai, gemini], description: Which realtime provider to connect to. }
        endpoint: { type: string, description: "Connection endpoint (OpenAI: realtime base URL; Gemini: v1alpha BidiGenerateContentConstrained WS URL — append ?access_token=<realtime_token>)." }
        realtime_token: { type: string, description: "Ephemeral credential for the session (OpenAI client secret / Gemini auth token). Short-lived." }
        expires_at: { type: string, format: date-time, description: Absolute instant the token expires. }
        model: { type: string, description: Realtime model the session is bound to. }
        target_words:
          type: array
          items: { $ref: '#/components/schemas/PracticeTargetWord' }
        duration_seconds: { type: integer, description: Session length — the token TTL. }
        session_setup:
          type: object
          nullable: true
          additionalProperties: true
          description: >
            Gemini bare-token path: the pre-rendered BidiGenerateContentSetup (system instruction,
            model, transcription, VAD) the client applies verbatim as its first WebSocket message —
            it renders nothing itself. Null when the session is baked into the token (OpenAI).
      required: [dialog_id, provider, endpoint, realtime_token, expires_at, model, target_words, duration_seconds]

    Profile:
      type: object
      properties:
        native_language: { type: string }
        target_language: { type: string }
        cefr_level: { type: string }
        daily_goal: { type: integer }
        tier: { type: string, enum: [free, premium], description: Subscription tier; drives the generation quota and premium-store access. }
        timezone: { type: string, description: "The user's IANA timezone; UTC until the client sends one. Drives calendar-day due rounding (F19)." }
        onboarded_at: { type: string, format: date-time, nullable: true, description: "Instant first-run onboarding finished, or null if never. The client's onboarding gate keys on this (server truth, survives reinstall)." }

    StoreCollection:
      type: object
      description: A subscribable store collection (public or system) for a language pair.
      properties:
        id: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        topic: { type: string, nullable: true, description: Section key the client groups by. }
        source_lang: { type: string }
        target_lang: { type: string }
        is_premium: { type: boolean, description: Subscribing requires a premium tier; otherwise 403 subscription_required. }
        is_subscribed: { type: boolean, description: Whether the caller already has it in their library. }
        level: { type: string, nullable: true, description: 'CEFR range for the card, e.g. "A2–B1" or "B2" (min–max of the terms'' levels); null when none carry a level.' }
        items_count: { type: integer }
        image_url: { type: string, nullable: true }
        image_author: { type: string, nullable: true }
        image_author_url: { type: string, nullable: true }

    StoreCollectionPreview:
      type: object
      description: A free taster of a store collection — its first terms and the total item count.
      properties:
        collection_id: { type: string }
        total: { type: integer, description: Total number of terms in the collection. }
        terms:
          type: array
          description: Up to `limit` terms (default 5), in collection order.
          items:
            type: object
            properties:
              text: { type: string, description: The learned-language term. }
              translation: { type: string, nullable: true, description: Native-language translation (collection source_lang). }
              type: { type: string, description: word | phrase | idiom | phrasal_verb }
              cefr: { type: string, nullable: true, description: CEFR level, e.g. A2. }

    User:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string, nullable: true }
        avatar: { type: string, nullable: true }
        profile:
          oneOf:
            - { $ref: '#/components/schemas/Profile' }
            - { type: 'null' }
        generation:
          description: >
            The caller's generation allowance, so the client can grey the create button before
            submit instead of failing on a 429. `resets_at` is an absolute instant (next UTC-day
            boundary); render it in device-local time.
          type: object
          properties:
            limit: { type: integer }
            used: { type: integer }
            remaining: { type: integer }
            resets_at: { type: string, format: date-time }

    GenerationRequest:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [pending, running, succeeded, failed] }
        prompt: { type: string }
        requested: { type: integer, description: Items the user asked for }
        delivered: { type: integer, nullable: true, description: Items actually produced; may be fewer than requested; null until succeeded }
        collection_id: { type: string, nullable: true }
        error: { type: string, nullable: true }
        model: { type: string, nullable: true }
        tokens_in: { type: integer, nullable: true }
        tokens_out: { type: integer, nullable: true }
        cost_usd: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }

    SearchHit:
      type: object
      description: One term the database already has, plus where it lives for THIS learner.
      properties:
        term_id: { type: string }
        text: { type: string }
        type: { type: string, enum: [word, phrase, idiom, phrasal_verb] }
        transcription: { type: string, nullable: true }
        translation: { type: string, nullable: true }
        description:
          type: string
          nullable: true
          description: >
            What the word means, written in the language BEING LEARNED. Null on the store
            catalogue — those terms have no description and are not being backfilled.
        example: { type: string, nullable: true }
        example_translation: { type: string, nullable: true }
        cefr: { type: string, nullable: true }
        folders:
          type: array
          description: The caller's OWN folders holding this term. Empty = not saved yet.
          items:
            type: object
            properties:
              id: { type: string }
              title: { type: string }
              is_default: { type: boolean }

    LookupCard:
      type: object
      description: A word the model looked up. Not a term yet — nothing is written until `/search/add`.
      properties:
        lookup_id: { type: string, description: the handle `/search/add` takes }
        text: { type: string }
        type: { type: string, enum: [word, phrase] }
        transcription: { type: string, nullable: true }
        translation: { type: string, nullable: true }
        description:
          type: string
          description: >
            One or two A2–B1 sentences in the language being learned, never containing the word
            itself — a description that names its headword answers the `description_match` card
            before it is asked, and the barrier refuses one that does.
        example: { type: string, nullable: true, description: contains the term verbatim, or is absent }
        example_translation: { type: string, nullable: true }
        cefr: { type: string, nullable: true }
        fresh: { type: boolean, description: true when THIS call paid for the answer }

    CollectionSummary:
      type: object
      properties:
        id: { type: string }
        type: { type: string, enum: [system, shared, custom] }
        source: { type: string, enum: [curated, ai, user] }
        title: { type: string }
        description: { type: string, nullable: true }
        source_lang: { type: string }
        target_lang: { type: string }
        visibility: { type: string, enum: [private, link, public] }
        items_count: { type: integer }
        is_default:
          type: boolean
          description: >
            The owner's «Сохранённые» folder — where a one-tap save from search lands. Renameable
            (the flag is the destination, the title is only the label), never deletable.
        created_at: { type: string, format: date-time }

    CollectionItem:
      type: object
      description: A collection membership with its term content hydrated from Vocabulary.
      properties:
        term_id: { type: string }
        position: { type: integer }
        note: { type: string, nullable: true }
        text: { type: string, nullable: true }
        type: { type: string, enum: [word, phrase, idiom, phrasal_verb], nullable: true }
        transcription: { type: string, nullable: true }
        translation: { type: string, nullable: true }
        example: { type: string, nullable: true }
        example_translation: { type: string, nullable: true }

    Collection:
      allOf:
        - $ref: '#/components/schemas/CollectionSummary'
        - type: object
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/CollectionItem' }

    CollectionProgress:
      type: object
      description: >-
        Derived from (user, term) progress. mastered_count is the single "mastered" figure;
        confirmed + familiar + in_progress + new_count sum to terms_total.
      properties:
        collection_id: { type: string }
        terms_total: { type: integer }
        new_count: { type: integer, description: "Not started (no progress, or returned to new)" }
        due_count: { type: integer }
        mastered_count: { type: integer, description: confirmed + familiar }
        confirmed_count: { type: integer, description: "Proven by exercises (review, interval >= 21)" }
        familiar_count: { type: integer, description: Marked known (self-assessed) }
        in_progress_count: { type: integer, description: Started but not yet mastered }

    SessionCard:
      type: object
      properties:
        term_id: { type: string }
        exercise_mode: { type: string, enum: [multiple_choice, word_bank, typing, listening, cloze, scramble, dictation, pick_correct, speaking, description_match, intro] }
        type: { type: string, enum: [word, phrase, idiom, phrasal_verb], nullable: true }
        prompt: { type: string, nullable: true, description: "The cue, in the user's language — the term's translation, or for `scramble` the example sentence's translation. NULL for `dictation`: the task is the audio, and a written cue would turn it into a translation exercise. On ladder rung 1 the direction is REVERSED: the prompt is the TERM and the options are translations" }
        answer: { type: string, description: "What a correct answer must match. The target-language term, except for: the sentence modes (`scramble`, `dictation`), where this is the example sentence itself; and ladder rung 1, where the card is graded by identity and this is the card's own TERM ID. The client must not display it before the answer is committed. On `intro` it is the term, and it is never compared against anything" }
        ladder_step:
          type: integer
          minimum: 0
          maximum: 5
          nullable: true
          description: >
            The rung of the acquisition ladder this card was dealt at (0 intro, 1 recognition
            term→translation, 2 recognition translation→term, 3 assembly/choice, 4 typed
            production, 5 dictation). NULL for a `known` verification, which is outside the
            ladder. Echo it back with the answer: the pair's rung moves as that answer is folded,
            so it is the only thing that can still say what the card asked.
        option_ids:
          type: array
          nullable: true
          description: >
            Ladder rung 1 only, aligned index-for-index with `options`: the term each option's
            translation belongs to. That card is answered by TAPPING, and the client uploads the
            tapped id as `response` — which is why it is the one card whose correct option is a
            translation without any translation entering an answer key.
          items: { type: string }
        transcription: { type: string, nullable: true }
        example: { type: string, nullable: true }
        example_translation: { type: string, nullable: true }
        options:
          type: array
          nullable: true
          description: multiple_choice — the answer plus distractors, shuffled
          items: { type: string }
        chips:
          type: array
          nullable: true
          description: "Tiles to assemble the answer from, shuffled (never in the answer's own order). word_bank — the term's words, or its letters when it is a single word; scramble — the example sentence's words (final `.`/`!`/`?` dropped, inner punctuation kept on its word)"
          items: { type: string }
        option_feedback:
          type: array
          nullable: true
          description: >
            `pick_correct` only. For each WRONG option: which fragment is broken and what it should
            have been. This is why the mode exists over `multiple_choice` — a wrong pick is explained
            (underline the span, show the correction) instead of merely marked. Rides with the card so
            the explanation works offline. The correct option never appears here.
          items:
            type: object
            properties:
              sentence: { type: string, description: 'the wrong option this feedback belongs to' }
              error_span: { type: string, description: 'the broken fragment, verbatim from `sentence`' }
              correction: { type: string }
        accepted_variants:
          type: array
          description: >
            Other answers that also count as correct for THIS card's `answer` (e.g. this/that,
            may/can). The client's instant check tests `{answer} ∪ accepted_variants` so it is never
            stricter than the server. Always an empty list on the sentence-graded modes
            (`scramble`, `dictation`): a variant of the term is not a variant of the sentence, and
            the server's expected set there is the sentence alone.
          items: { type: string }

    TriageCard:
      type: object
      description: >-
        A minimal triage card. The triage screen only renders text + translation (and, for
        phrases, an example). `transcription` and `example`/`example_translation` are optional
        and may be absent; they are carried for FUTURE exercise modes — `transcription` as a
        typing hint, examples for cloze — not used by triage itself. Kept deliberately rather
        than trimmed, so those modes don't have to re-add them later.
      required: [term_id]
      properties:
        term_id: { type: string }
        text: { type: string, nullable: true }
        type: { type: string, enum: [word, phrase, idiom, phrasal_verb], nullable: true }
        transcription:
          type: string
          nullable: true
          description: IPA. Optional; unused by triage — reserved as a future `typing` hint.
        translation: { type: string, nullable: true }
        example:
          type: string
          nullable: true
          description: Optional; triage shows it only for phrases — reserved for `cloze` (phase 2).
        example_translation:
          type: string
          nullable: true
          description: Optional; pairs with `example`. Reserved for future exercise modes.

    Stats:
      type: object
      properties:
        total_terms: { type: integer }
        learned: { type: integer }
        mastered: { type: integer }
        due_today: { type: integer }
        reviews_today: { type: integer }
        streak_days: { type: integer }
        active_days:
          type: array
          items: { type: string, format: date }
          description: >
            Local (user-timezone) calendar dates with ≥1 review of ANY kind — study OR practice —
            within the last ~year, oldest first. The server-truth source for the activity calendar
            and the streak (device-batch F18): the client renders these and lights today
            optimistically, and a relogin/reinstall restores the full calendar from here.
        new_goal:
          type: integer
          description: The user's daily NEW-term quota (clamped), as the session builder applies it.
        new_today:
          type: integer
          description: New terms already introduced today, on the accounting the quota uses.
        new_remaining:
          type: integer
          description: >
            max(0, new_goal - new_today) — how many new terms a "Learn N" home CTA may still
            introduce today (device-batch F13). 0 means the new-term limit is reached; reviews are
            never gated by this (they don't spend the new quota).
